<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>区块链网络</title>
    <link href="/static/front/css/custom.css" rel="stylesheet">
    <!--layui引入--->
    <link  href="/static/assets/libs/layui/css/layui.css" rel="stylesheet" media="all">
    <!---js库引入--->
    <script type="text/javascript" src="/static/assets/js/jquery.min.js"></script>
    <script type="text/javascript" src="/static/assets/libs/layui/layui.js"></script>
    <script type="text/javascript" src="/static/assets/js/common.js?v=318"></script>
    <link rel="stylesheet" href="/static/client/css/client_network.css"/>
    <link rel="stylesheet" href="/static/custom/layui_custom.css"/>
    <!---semantic引入--->
    <link rel="stylesheet" type="text/css" href="/static/assets/libs/semantic/semantic.min.css">
    <script type="text/javascript" src="/static/assets/libs/semantic/semantic.min.js"></script> 
    <link rel="stylesheet" href="/static/custom/semantic_custom.css"/>
    <style>
        html,body{
            overflow: auto!important; /* 或者使用 overflow-y: scroll; 来允许垂直滚动 */
            scrollbar-width: none!important; /* Firefox */
            -ms-overflow-style: none!important; /* IE 和 Edge */
            min-width: 200px;
        }

        /* 隐藏Webkit核心浏览器（如Chrome, Safari等）中的滚动条 */
        html::-webkit-scrollbar {
            display: none!important;
        }
    </style>
</head>
<body>
<!-- 正文开始 -->
<div class="network-box">
    <div class="network-head">
        <div class="network-head-title">区块链网络状态</div>
        <div class="network-head-body">
            <div class="network-head-item">
                <div class="head-item-title">客户端地址</div>
                <div class="head-item-content">
                    <a class="ui blue label" id="client_address">127.0.0.1:5000</a>
                </div>
            </div>
            <div class="network-head-item">
                <div class="head-item-title">链节点地址</div>
                <div class="head-item-content">
                    <a class="ui teal label" id="node_address">127.0.0.1:8099</a>
                </div>
            </div>
    
            <div class="network-head-item">
                <div class="head-item-title">通信状态</div>
                <div class="head-item-content">
                    <a onclick="CheckNetworkStatus()" class="ui label" id="network_status">连接中</a>
                </div>
            </div>
        </div>
    </div>
    <div class="network-body layui-tab layui-tab-brief"> 
        <ul class="layui-tab-title">
          <li class="network-tab-title layui-this">客户端连接</li>
          <li class="network-tab-title">区块链连接</li>
        </ul>
        <div class="layui-tab-content">
          <div class="network-tab-item layui-tab-item layui-show">
             <div class="client-network-content-box">
                <form class="ui form small">
                    <div class="field">
                        <label>网络模式</label>
                        <div class="ui selection dropdown network-mode">
                            <i class="dropdown icon"></i>
                            <div class="default text">本地</div>
                            <input class="small" type="hidden" name="network_mode">
                        </div>
                    </div>
                    <div class="field">
                        <label>客户端地址</label>
                        <div class="ui action input">
                            <input type="text" name="client_address" value="http://127.0.0.1:5000">
                            <div onclick="CheckNetworkStatusInput()" class="ui blue left icon button">
                              <i class="globe icon"></i>
                            </div>
                        </div>
                    </div>
                    <div class="field">
                        <label>区块链服务器地址</label>
                        <div class="ui action input">
                            <input type="text" name="bc_server_address" value="http://127.0.0.1:7777">
                            <div onclick="changeBcServerAddress()" class="ui blue left icon button">
                              <i class="globe icon"></i>
                            </div>
                        </div>
                    </div>
                    <div class="field-bottom">
                        <div onclick="saveClientConfig()" class="ui button blue right tiny">
                            保存
                        </div>
                    </div>
                    
                </form>
             </div>
           </div>
          <div class="network-tab-item layui-tab-item">
            <div class="blockchain-network-content-box">
                <form class="ui form small">
                    <div class="field">
                        <label>连接地址</label>
                        <div class="ui action input">
                            <input type="text" name="blockchain_node_address" value="172.0.0.1:7051">
                            <div onclick="CheckBlockchainNetworkInput()" class="ui teal left icon button">
                              <i class="globe icon"></i>
                            </div>
                        </div>
                    </div>
                    <div class="field">
                        <label>可用网络</label>
                        <div class="blockchain_network_list">
                            <div class="blockchain-network-item blockchain-network-item-active">
                                <div class="blockchain-network-item-icon">
                                    <i class="globe blue icon"></i>
                                </div>
                                <div id="current_blockchain_network" class="blockchain-network-item-name">
                                    172.0.0.1:7051
                                </div>
                                <div class="blockchain-network-item-tools">
                                    <a id="bc_network_connected" class="ui teal label">已连接</a>
                                    <div id="bc_network_connect" class="ui button blue mini">连接</div>
                                </div>
                            </div>
                            <div class="blockchain-network-item-add"> 
                                <div class="ui center aligned segment small">
                                      添加(搜索)网络
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
         </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="/static/client/js/client_network.js"></script>
<script>

//检测网络状态
CheckNetworkStatus()
function CheckNetworkStatus(){
    //从localStorage中获取client服务地址
    var clientServerHost = localStorage.getItem('clientServerHost')
    if (clientServerHost==null){
        //设置默认cleint地址
        clientServerHost = "http://127.0.0.1:5000"
        localStorage.setItem("clientServerHost",clientServerHost)
    }
    console.log("Network status: ",clientServerHost);
    var loadIndex = layer.load(1, {shade: false});
    fetch(clientServerHost, {
        method: 'HEAD', // 使用 HEAD 方法来检查服务器是否可用
    })
    .then(response => {
        layer.close(loadIndex); // 关闭 loading
        console.log("Response:", response);
        if (response.ok) {
            console.log("Network status: Online",clientServerHost);
            $("#network_status").removeClass("grey").addClass("green")
            $("#network_status").text("正常")
            layer.msg('客户端连接成功!',{'time':1200},function(){
            })
        } else {
            console.log("Network status: Offline");
            layer.msg('client网络异常,请检查网络连接!',{'time':1600},function(){
            })
            $("#network_status").removeClass("green").addClass("grey")
            $("#network_status").text("异常")
            
        }
    })
    .catch(error => {
        layer.close(loadIndex); // 关闭 loading
        console.error("Network error:", error);
        layer.msg('client网络异常,请检查网络连接!</br>'+clientServerHost,{'time':1600},function(){
        })
        $("#network_status").removeClass("green").addClass("grey")
        $("#network_status").text("异常")
    });
}

//保存区块链服务器地址
function saveBcServerAddress(){
    var bcServerAddress = $("input[name='bc_server_address']").val()
    if(bcServerAddress!=null&&bcServerAddress!=""){
        localStorage.setItem("bcServerHost",bcServerAddress)
    }else{
       layer.msg('地址错误!',{'time':1600},function(){
       })
    }
}

//检查区块链服务器地址
function checkBcServerAddress(){
    var bcServerAddress = $("input[name='bc_server_address']").val()
    var loadIndex = layer.load(1, {shade: false});
    $.ajax({
        type: "HEAD",
        url: bcServerAddress,
        complete: function(xhr) {
            layer.close(loadIndex); // 关闭 loading
            if(xhr.status == 200) {
                layer.msg('区块链服务器连接成功!',{'time':1200});
                $("#bc_network_status").removeClass("grey").addClass("green");
                $("#bc_network_status").text("正常");
            } else {
                layer.msg('区块链服务器连接异常,请检查网络!',{'time':1600});
                $("#bc_network_status").removeClass("green").addClass("grey");
                $("#bc_network_status").text("异常");
            }
            console.log("Response:", xhr);
        },
        error: function() {
            layer.close(loadIndex);
            layer.msg('区块链服务器连接异常,请检查网络!',{'time':1600});
            $("#bc_network_status").removeClass("green").addClass("grey");
            $("#bc_network_status").text("异常");
        }
    });
}



//加载本地配置信息(浏览器)
loadLocalConfigData()
function loadLocalConfigData(){
    var clientServerHost = localStorage.getItem('clientServerHost')
    if (clientServerHost==null){
        //设置默认cleint地址
        clientServerHost = "http://127.0.0.1:6000"
        localStorage.setItem("clientServerHost",clientServerHost)
    }
    //显示
    $("#client_address").text(clientServerHost)
}


//初始化client配置
initClientConfig()
function initClientConfig(){
    //读取网络模式
    var clientNetworkMode = localStorage.getItem('clientNetworkMode')
    if (clientNetworkMode==null){
        //设置默认cleint地址
        clientNetworkMode = "local"
        localStorage.setItem("clientNetworkMode",clientNetworkMode)
    }
    //读取网络地址
    var clientServerHost = localStorage.getItem('clientServerHost')
    if (clientServerHost==null){
        //设置默认cleint地址
        clientServerHost = "http://127.0.0.1:5000"
        localStorage.setItem("clientServerHost",clientServerHost)
    }
    //设置网络模式
    $('.ui.dropdown.network-mode').dropdown({
        values: [
        {
            name: '本地',
            value: 'local',
            selected : clientNetworkMode=='local'?true:false
        },
        {
            name     : '远程',
            value    : 'remote',
            selected : clientNetworkMode=='remote'?true:false
        }
        ]
   })
  //设置网络地址
  $("input[name='client_address']").val(clientServerHost)
  //绑定切换函数
  $('.ui.dropdown.network-mode')
  .dropdown({
    onChange: function(value, text, $selectedItem) {
      // custom action
      console.log("change client mode:",value)
      var clientServerHost = null
      switch (value){
        case "local":
          //切换为本地模式
          clientServerHost = localStorage.getItem("clientLocalServerHost")
          break;
        case "remote":
          //切换为远程模式
          clientServerHost = localStorage.getItem("clientRemoteServerHost")
          break;
      }
      if(clientServerHost==null)
          clientServerHost = "http://127.0.0.1:5000"
      // 切换地址
      $("input[name='client_address']").val(clientServerHost)
    }
  })
}
//保存client配置
function saveClientConfig(){
    var clientNetworkMode = $("input[name='network_mode']").val()
    var clientServerHost = $("input[name='client_address']").val()
    //保存本地配置
    localStorage.setItem("clientNetworkMode",clientNetworkMode)
    localStorage.setItem("clientServerHost",clientServerHost)
    switch (clientNetworkMode){
        case "local":
          //保存本地client地址
          clientServerHost = localStorage.setItem("clientLocalServerHost",clientServerHost)
          break;
        case "remote":
          //保存远程client地址
          clientServerHost = localStorage.setItem("clientRemoteServerHost",clientServerHost)
          break;
    }
    //保存区块链服务器地址
    saveBcServerAddress()
    //刷新页面
    layer.msg('保存成功!',{'time':1200},function(){
        //刷新页面
        location.reload()
    })
}

//检测网络状态(input)
function CheckNetworkStatusInput(){

    clientServerHost = $("input[name='client_address']").val()
    console.log("Network status: ",clientServerHost);
    var loadIndex = layer.load(1, {shade: false});
    // 创建一个超时的 Promise
    function timeout(ms) {
        return new Promise((_, reject) => {
            setTimeout(() => {
                reject(new Error('请求超时'));
            }, ms);
        });
    }
    // 使用 Promise.race 来处理超时
    Promise.race([
        fetch(clientServerHost, {
            method: 'HEAD', // 使用 HEAD 方法来检查服务器是否可用
        }),
        timeout(6000) // 设置超时时间为 5 秒
    ])
    .then(response => {
        layer.close(loadIndex); // 关闭 loading
        console.log("Response:", response);
        if (response.ok) {
            console.log("Network status: Online", clientServerHost);
            layer.msg('网络可用</br>' + clientServerHost, {'time': 1200}, function () { });
        } else {
            layer.msg('网络不可用</br>' + clientServerHost, {'time': 1600}, function () { });
        }
    })
    .catch(error => {
        layer.close(loadIndex); // 关闭 loading
        if (error.message === '请求超时') {
            layer.msg('请求超时</br>' + clientServerHost, {'time': 1600}, function () { });
        } else {
            layer.msg('网络不可用</br>' + clientServerHost, {'time': 1600}, function () { });
        }
    });
}

//初始化blockchain配置
initBlockchainNetworkConfig()
function initBlockchainNetworkConfig(){
    //从远程获取区块链信息
    getBlockchainNetworkConfig()
    .then(function(response) {
        networkConfig = response["data"]
        console.log(networkConfig);
        // 在这里处理获取到的网络配置
        if(networkConfig["endorser"]!=null){
            $("#node_address").text(networkConfig["endorser"])
            $("input[name='blockchain_node_address']").val(networkConfig["endorser"])
            $("#current_blockchain_network").text(networkConfig["endorser"])
        }
    })
    .catch(function(error) {
        console.error("Error fetching network config:", error);
        // 在这里处理错误
    });
}


function closeParentLayer(){
    var index = parent.layer.getFrameIndex(window.name); // 先得到当前 iframe 层的索引
    parent.layer.close(index); // 再执行关闭
}
var currentLayerIndex = null
layui.use(['layer'], function(){
    var layer = layui.layer
    $ = layui.$;
    function openParentWindow(url) {
        var parentLayer = window.parent.layer;
        if(currentLayerIndex!=null){
            //默认只打开一个窗口
            parentLayer.close(currentLayerIndex);
        }
        //使用父层级打开窗口
        currentLayerIndex = parentLayer.open({
                type: 2,
                title: '详情',
                area: ['700px', '550px'], // 设置窗口宽度和高度
                shade: 0, // 设置遮罩透明度
                content: url,
                success: function(layero, index){
                    //关闭当前窗口
                    // closeParentLayer()
                }
        });
        
        
    }
})

</script>
</body>
</html>
