<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>区块链钱包</title>
    <link href="/static/front/css/custom.css" rel="stylesheet">
    <!--layui引入--->
    <link  href="/static/assets/libs/layui/css/layui.css" rel="stylesheet" media="all">
    <!---js库引入--->
    <script type="text/javascript" src="/static/assets/js/jquery.min.js"></script>
    <script type="text/javascript" src="/static/assets/libs/layui/layui.js"></script>
    <script type="text/javascript" src="/static/assets/js/common.js?v=318"></script>
    <link rel="stylesheet" href="/static/client/css/client_wallet.css"/>
    <!---semantic引入--->
    <link rel="stylesheet" type="text/css" href="/static/assets/libs/semantic/semantic.min.css">
    <script type="text/javascript" src="/static/assets/libs/semantic/semantic.min.js"></script> 
    <style>
        html,body{
            overflow: auto!important; /* 或者使用 overflow-y: scroll; 来允许垂直滚动 */
            scrollbar-width: none!important; /* Firefox */
            -ms-overflow-style: none!important; /* IE 和 Edge */
            min-width: 200px;
        }

        /* 隐藏Webkit核心浏览器（如Chrome, Safari等）中的滚动条 */
        html::-webkit-scrollbar {
            display: none!important;
        }
    </style>
</head>
<body>
<!-- 正文开始 -->
<div class="client-wallet-box drag-handle">


</div>
<!-- js部分 -->
<script>
//检测网络状态
function CheckNetworkStatus(){
    //从localStorage中获取client服务地址
    var clientServerHost = localStorage.getItem('clientServerHost')
    if (clientServerHost==null){
        //设置默认cleint地址
        clientServerHost = "http://127.0.0.1:5000"
        localStorage.setItem("clientServerHost",clientServerHost)
    }
    var loadIndex = layer.load(1, {shade: false});
    fetch(clientServerHost, {
        method: 'HEAD', // 使用 HEAD 方法来检查服务器是否可用
    })
    .then(response => {
        layer.close(loadIndex); // 关闭 loading
        if (response.ok) {
            console.log("Network status: Online");
            $(".loading-box").removeClass("active")
        } else {
            console.log("Network status: Offline");
            layer.msg('client网络异常,请检查网络连接!',{'time':1600},function(){
            closeParentLayer()
            })
            
            
        }
    })
    .catch(error => {
        layer.close(loadIndex); // 关闭 loading
        console.error("Network error:", error);
        layer.msg('client网络异常,请检查网络连接!</br>'+clientServerHost,{'time':1600},function(){
            // layer.msg('提示框关闭后的回调');
            closeParentLayer()
        })
    });
}
CheckNetworkStatus()
//检测本地是否存在钱包

function closeParentLayer(){
    var index = parent.layer.getFrameIndex(window.name); // 先得到当前 iframe 层的索引
    parent.layer.close(index); // 再执行关闭
}
var currentLayerIndex = null
layui.use(['layer'], function(){
    var layer = layui.layer
    $ = layui.$;
    function openParentWindow(url) {
        var parentLayer = window.parent.layer;
        if(currentLayerIndex!=null){
            //默认只打开一个窗口
            parentLayer.close(currentLayerIndex);
        }
        //使用父层级打开窗口
        currentLayerIndex = parentLayer.open({
                type: 2,
                title: '详情',
                area: ['700px', '550px'], // 设置窗口宽度和高度
                shade: 0, // 设置遮罩透明度
                content: url,
                success: function(layero, index){
                    //关闭当前窗口
                    // closeParentLayer()
                }
        });
        
        
    }
})

</script>
</body>
</html>
