<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>钱包创建</title>
    <link href="/static/front/css/custom.css" rel="stylesheet">
    <!--layui引入--->
    <link  href="/static/assets/libs/layui/css/layui.css" rel="stylesheet" media="all">
    <!---js库引入--->
    <script type="text/javascript" src="/static/assets/js/jquery.min.js"></script>
    <script type="text/javascript" src="/static/assets/libs/layui/layui.js"></script>
    <script type="text/javascript" src="/static/assets/js/common.js?v=318"></script>
    <link rel="stylesheet" href="/static/client/css/client_wallet_register.css"/>
    <!---semantic引入--->
    <link rel="stylesheet" type="text/css" href="/static/assets/libs/semantic/semantic.min.css">
    <script type="text/javascript" src="/static/assets/libs/semantic/semantic.min.js"></script> 
    <style>
        html,body{
            overflow: auto!important; /* 或者使用 overflow-y: scroll; 来允许垂直滚动 */
            scrollbar-width: none!important; /* Firefox */
            -ms-overflow-style: none!important; /* IE 和 Edge */
            min-width: 200px;
        }

        /* 隐藏Webkit核心浏览器（如Chrome, Safari等）中的滚动条 */
        html::-webkit-scrollbar {
            display: none!important;
        }
    </style>
</head>
<body>
<!-- 正文开始 -->
<div class="client-wallet-register-box ">
    <div id="drag-handle" class="wallet-register-header">
        <div onclick="preSetpPage()" class="pre-page-box">
            <i class="angle left icon"></i>
            <span>我的钱包</span>
        </div>
    </div>
    <div id="wallet-register-step-1" class="wallet-register-step-box step-active">
        <div class="wallet-register-step-header">
            <div class="wallet-register-banner">
                <img src="/static/client/imgs/wallet.png" alt="钱包banner">
            </div>
        </div>
        <div class="wallet-register-step-buttons">
            <div class="wallet-register-step-button-item">
                <button class="ui blue button" onclick="nextSetpPage(2)">创建钱包</button>
            </div>
            <div class="wallet-register-step-button-item">
                <button class="ui blue basic button" onclick="reloadLocalWallet()">刷新钱包</button>
            </div>
        </div>
    </div>
    <div id="wallet-register-step-2" class="wallet-register-step-box">
        <div class="wallet-register-form-title">
            <span>创建密码</span>
            <span>系统不保存密码，忘记密码将导致钱包丢失</span>
        </div>
        <div class="wallet-register-form-box">
            <form class="ui form">
                <div class="field">
                    <label>钱包密码</label>
                    <input type="password" name="wallet-password" placeholder="请输入密码">
                </div>
                <div class="field">
                    <label>确认密码</label>
                    <input type="password" name="wallet-password-confirm" placeholder="请再次输入密码">
                </div>
            </form>
        </div>
        <div class="wallet-register-step-buttons">
            <div class="wallet-register-step-button-item">
                <button class="ui blue button" onclick="saveWalletPassword()">下一步</button>
            </div>
        </div>
    </div>
    <div id="wallet-register-step-3" class="wallet-register-step-box">
        <div class="wallet-register-confirm-title">
            <span>创建本地钱包</span>
            <span>钱包公私钥文件将加密保存在本地客户端，是否确认创建钱包?</span>
        </div>
        <div class="wallet-register-step-buttons">
            <div class="wallet-register-step-button-item">
                <button class="ui blue button" onclick="comfirmCreateWallet()">确认创建</button>
            </div>
        </div>
    </div>
    <div id="wallet-register-step-4" class="wallet-register-step-box">
        <div class="wallet-register-form-title">
            <span>创建链上账户</span>
            <span>请输入账户名称</span>
        </div>
        <div class="wallet-register-form-box">
            <form class="ui form">
                <div class="field">
                    <label>钱包ID</label>
                    <input type="text" name="wallet-id" value="" readonly>
                </div>
                <div class="field">
                    <label>账户名称</label>
                    <input type="text" name="account-name" placeholder="请输入账户名称">
                </div>
            </form>
        </div>
        <div class="wallet-register-step-buttons">
            <div class="wallet-register-step-button-item">
                <button class="ui blue button" onclick="createOnchainAccount()">创建账户</button>
            </div>
        </div>
    </div>
   
</div>
<!-- js部分 -->
<script type="text/javascript" src="/static/client/js/client_wallet.js"></script>
<script>
var walletRegisterStep = 1
var walletRegisterPreStepTitleList = ["我的钱包","创建钱包","输入密码","创建本地钱包","创建链上账户"]
var walletRegisterStepBox = $("#wallet-register-step-"+walletRegisterStep)
var walletId = ""


function setWalletRegisterStep(step){
    walletRegisterStep = step
    $(".wallet-register-step-box").removeClass("step-active")
    $("#wallet-register-step-"+walletRegisterStep).addClass("step-active")
    $(".wallet-register-header span").text(walletRegisterPreStepTitleList[walletRegisterStep-1])
}

function preSetpPage(){
    if(walletRegisterStep>1){
        setWalletRegisterStep(walletRegisterStep-1)
    }else{
        //回到我的钱包
         window.location.href = "/client/wallet"
    }
}

function nextSetpPage(step){
    setWalletRegisterStep(step)
}

function reloadLocalWallet(){
    getLocalWalletList().then(function(wallet_ids){
        var data = wallet_ids

        if (data==null||data==undefined||data.length==0){
            layer.msg('未查询到本地钱包',{'time':1000})
            return;
        }

        layer.msg('查询到钱包:<br>'+data[0].substring(0,6)+'...'+data[0].substring(data[0].length-6),{'time':1000},function(){
            window.location.href = "/client/wallet"
        })
        
    }).catch(function(error){
        console.log(error)
        layer.msg('网络异常!<br>'+error,{'time':1600})
    })
}
//保存钱包密码
var walletPassword = ""
var walletPasswordConfirm = ""
function saveWalletPassword(){
    walletPassword = $("input[name='wallet-password']").val()
    walletPasswordConfirm = $("input[name='wallet-password-confirm']").val()
    if (walletPassword==""||walletPasswordConfirm==""){
        layer.msg('密码不能为空!',{'time':1600})
        return false
    }
    if (walletPassword==walletPasswordConfirm){
        nextSetpPage(3)
        return true
    }else{
        layer.msg('两次输入的密码不一致!',{'time':1600})
    }
    
    return false
}
//确认创建钱包
function comfirmCreateWallet(){
    if (walletPassword==walletPasswordConfirm){
        createLocalUserWallet(walletPassword).then(function(response){
            console.log(response)
            if (response.code==200){
                walletId = response.data.wallet_id
                $("input[name='wallet-id']").val(walletId)
                nextSetpPage(4)
            }else{
                layer.msg('钱包创建失败!<br>'+response.message,{'time':1600})
            }
        }).catch(function(error){
            console.log(error)
            layer.msg('网络异常!<br>'+error,{'time':1600})
        })

    }else{
        layer.msg('两次输入的密码不一致!',{'time':1600})
    }   
}



//创建链上账户
function createOnchainAccount(){
    var accountName = $("input[name='account-name']").val()
    if(accountName == ""){
        layer.msg('账户名称不能为空!',{'time':1600})
        return
    }
    registerOnchainAccount(walletId, accountName).then(function(response){
        console.log(response)
        if(response.code == 200){
            layer.msg('链上账户创建成功!',{'time':1600},function(){
                window.location.href = "/client/wallet"
            })
        }else{
            layer.msg('链上账户创建失败!<br>'+response.message,{'time':1600})
        }
    }).catch(function(error){
        console.log(error)
        layer.msg('网络异常!<br>'+error,{'time':1600})
    })
}
</script>
</body>
</html>
