<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>区块链钱包</title>
    <link href="/static/front/css/custom.css" rel="stylesheet">
    <!--layui引入--->
    <link  href="/static/assets/libs/layui/css/layui.css" rel="stylesheet" media="all">
    <!---js库引入--->
    <script type="text/javascript" src="/static/assets/js/jquery.min.js"></script>
    <script type="text/javascript" src="/static/assets/libs/layui/layui.js"></script>
    <script type="text/javascript" src="/static/assets/js/common.js?v=318"></script>
    <link rel="stylesheet" href="/static/client/css/client_wallet.css"/>
    <link rel="stylesheet" href="/static/custom/layui_custom.css"/>
    <!---semantic引入--->
    <link rel="stylesheet" type="text/css" href="/static/assets/libs/semantic/semantic.min.css">
    <script type="text/javascript" src="/static/assets/libs/semantic/semantic.min.js"></script> 
    <style>
        html,body{
            overflow: auto!important; /* 或者使用 overflow-y: scroll; 来允许垂直滚动 */
            scrollbar-width: none!important; /* Firefox */
            -ms-overflow-style: none!important; /* IE 和 Edge */
            min-width: 200px;
        }

        /* 隐藏Webkit核心浏览器（如Chrome, Safari等）中的滚动条 */
        html::-webkit-scrollbar {
            display: none!important;
        }
    </style>
</head>
<body>
<!-- 正文开始 -->
<div class="client-wallet-box">
    <div class="client-wallet-box-header" id="drag-handle">
        <div class="wallet-box-header-list">
            <div class="wallet-box-header-item network">
                <button class="ui  blue circular globe icon button" onclick="CheckNetworkStatus()">
                    <i class="globe icon"></i>
                </button>
            </div>
            <div class="wallet-box-header-item wallet-info">
                <div class="wallet-info-top">
                    <div class="wallet-info-top-item wallet-account-name">
                        Account 1
                    </div>
                </div>
                <div class="wallet-info-bottom">
                    <div class="wallet-info-bottom-item wallet-id">
                        0xbcbc...15bc
                    </div>
                </div>
            </div>
            <div class="wallet-box-header-item wallet-setting ">
                <div class="blue ui top right pointing   dropdown icon button">
                    <i class="settings icon"></i>
                    <div class="menu">
                        <div class="item" onclick="redirectToRegisterWallet()">
                            新建账户
                        </div>
                        <div class="item" onclick="getUserInfoAndUpdateUI()">
                            刷新账户
                        </div>
                        <div class="divider"></div>
                        <div class="item" onclick="changeWalletAccount()">
                            切换账户
                        </div>
                        <div class="item" onclick="closeParentLayer()">
                            退出
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
    <div class="client-wallet-box-body">
        <div class="client-wallet-info-data-box">
            <div class="client-wallet-account-num-box">
                <div class="wallet-account-num">
                    <span>0</span>积分
                </div>
                <div class="wallet-account-num">
                    <span>+0</span>积分
                </div>
            </div>
            <div class="client-wallet-info-toolbar-box">
                <div class="client-wallet-info-toolbar-list">
                    <div class="client-wallet-info-toolbar-item">
                        <div class="ui circular blue hand lizard outline icon button">
                            <i class="hand lizard outline icon"></i>
                        </div>
                        <span>转入</span>
                    </div>
                    <div class="client-wallet-info-toolbar-item ">
                        <div class="ui circular blue hand point up outline icon button">
                            <i class="hand point up outline icon"></i>
                        </div>
                        <span>转出</span>
                    </div>
                    <div class="client-wallet-info-toolbar-item ">
                        <div class="ui circular blue chart line icon button">
                            <i class="chart line icon"></i>
                        </div>
                        <span>收益</span>
                    </div>
                    <div class="client-wallet-info-toolbar-item ">
                        <div class="ui circular blue gem outline icon button">
                            <i class="gem outline icon"></i>
                        </div>
                        <span>CTI资产</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="client-wallet-tab-box">
            <div class="wallet-tab-body layui-tab layui-tab-brief"> 
                <ul class="layui-tab-title">
                  <li class="wallet-tab-title layui-this">积分收入</li>
                  <li class="wallet-tab-title">积分支出</li>
                  <li class="wallet-tab-title">交易记录</li>
                </ul>
                <div class="layui-tab-content">
                  <div class="wallet-tab-item layui-tab-item layui-show points-income-tab">
                    <div class="points-income-item" id="points-income-item-template" style="display: none;">
                        <div class="points-amount">
                            <span>+100</span>积分
                        </div>
                        <div class="points-details">
                            <div class="transfer-account">转入账户: 0x7a250d5630B4cF539739dF2C5dacC4c0ce9381e62</div>
                            <div class="intel-id">情报ID: 0x9f86d081884c7d659a2feaa0c55ad015a3bf4f1b2b0b822cd15d6c15b0f00a08</div>
                            <div class="transfer-time">2024-03-21 14:30</div>
                        </div>
                    </div>
                  </div>
                  <div class="wallet-tab-item layui-tab-item points-expense-tab">
                    <!-- 积分支出项 -->
                    <div class="points-expense-item" id="points-expense-item-template" style="display: none;">
                        <div class="points-amount">
                            <span>-50</span>积分
                        </div>
                        <div class="points-details">
                            <div class="transfer-account">转出账户: 0x8b25d5630B4cF539739dF2C5dacC4c0ce9381e62</div>
                            <div class="intel-id">情报ID: 0xa186d081884c7d659a2feaa0c55ad015a3bf4f1b2b0b822cd15d6c15b0f00b09</div>
                            <div class="transfer-time">2024-03-21 15:45</div>
                        </div>
                    </div>
                  </div>
                  <div class="wallet-tab-item layui-tab-item transaction-record-tab">
                    <!-- 交易记录项 -->
                    <div class="transaction-record-item" id="transaction-record-item-template" style="display: none;">
                        <div class="transaction-type">
                            <span class="transaction-icon">↑</span>
                            <span class="transaction-text">转出</span>
                        </div>
                        <div class="transaction-details">
                            <div class="transaction-amount"><span>-50</span>积分</div>
                            <div class="transaction-account">对方账户: 0x8b25d5630B4cF539739dF2C5dacC4c0ce9381e62</div>
                            <div class="transaction-hash">交易哈希: 0xc286d081884c7d659a2feaa0c55ad015a3bf4f1b2b0b822cd15d6c15b0f00d10</div>
                            <div class="transaction-time">2024-03-21 15:45</div>
                            <div class="transaction-status">已完成</div>
                        </div>
                    </div>
                  </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- js部分 -->
<script type="text/javascript" src="/static/client/js/client_wallet.js"></script>
<script type="text/javascript" src="/static/client/js/client_request.js"></script>
<script>
var layer = layui.layer
$ = layui.$;
//检测网络状态
CheckNetworkStatus()
function CheckNetworkStatus(){
    //从localStorage中获取client服务地址
    var clientServerHost = localStorage.getItem('clientServerHost')
    if (clientServerHost==null){
        //设置默认cleint地址
        clientServerHost = "http://127.0.0.1:5000"
        localStorage.setItem("clientServerHost",clientServerHost)
    }
    // 创建一个超时的 Promise
    function timeout(ms) {
        return new Promise((_, reject) => {
            setTimeout(() => {
                reject(new Error('请求超时'));
            }, ms);
        });
    }
    var loadIndex = layer.load(1, {shade: false});
    // 使用 Promise.race 来处理超时
    Promise.race([
        fetch(clientServerHost, {
            method: 'HEAD', // 使用 HEAD 方法来检查服务器是否可用
        }),
        timeout(6000) // 设置超时时间为 6 秒
    ])
    .then(response => {
        layer.close(loadIndex); // 关闭 loading
        if (response.ok) {
            console.log("Network status: Online");
            //网络正常则检测钱包
            //检测本地是否存在钱包
            CheckLocalUserWallet()
        } else {
            console.log("Network status: Offline");
            layer.msg('client网络异常,请检查网络连接!',{'time':1600},function(){
                closeParentLayer()
            })
        }
    })
    .catch(error => {
        layer.close(loadIndex); // 关闭 loading
        console.error("Network error:", error);
        layer.msg('client网络异常,请检查网络连接!</br>'+clientServerHost,{'time':1600},function(){
            // layer.msg('提示框关闭后的回调');
            closeParentLayer()
        })
    });
}
//检查是否存在钱包
function CheckLocalUserWallet(){
    var walletId = localStorage.getItem("userWalletId");
    if(walletId==null||walletId==undefined){
        CheckLocalUserWalletMultiple()
    }
    checkLocalWalletOnchain(walletId)
}
//检查本地钱包(多个则选择)
function CheckLocalUserWalletMultiple(){
    getLocalWalletList().then(function(wallet_ids){
        var data = wallet_ids

        if (data==null||data==undefined||data.length==0){
            layer.msg('未查询到本地钱包',{'time':1000},function(){
                redirectToRegisterWallet()
            })
            return;
        }

        openWalletSelectWindow(data)
        
    }).catch(function(error){
        console.log(error)
        layer.msg('网络异常!<br>'+error,{'time':1600})
    })
}
//切换账户
function changeWalletAccount(){
    CheckLocalUserWalletMultiple()
}
//检查本地钱包链上状态
function checkLocalWalletOnchain(wallet_id){
    checkLocalWalletOnchainStatus(wallet_id).then(function(response){
        console.log(response)
        var data = response.data
        console.log("checkLocalWalletOnchainStatus",data)
        if (data==null||data.onchain==false||response.status==400){
            layer.confirm('钱包未上链，是否前往注册？', {
                btn: ['注册','刷新'] 
            }, function(){
                // 点击注册按钮
                redirectToRegisterWallet()
            }, function(){
                // 点击刷新按钮
                CheckLocalUserWalletMultiple()
            });
            return;
        }
        if (data.onchain){
            //钱包存在则设置用户钱包信息
            setLocalUserWallet(wallet_id)
            //同时获取用户信息
            getUserInfoAndUpdateUI()
        }
    }).catch(function(error){
        console.log(error)
        layer.msg('网络异常!<br>'+error,{'time':1600})
    })
}



//钱包不存在则跳转注册界面
function redirectToRegisterWallet(){
    window.location.href = "/client/wallet_register"
}


//钱包存在则设置用户钱包信息
function setLocalUserWallet(walletId){
    localStorage.setItem("userWalletId",walletId)
    updateWalletIDUI(walletId)
}
//-------------------------------------------用户信息查询-------------------------------------------

function getUserInfoAndUpdateUI(){
    var walletId = localStorage.getItem("userWalletId")
    if (walletId==null){
        layer.msg('用户ID不存在',{'time':1000})
        return;
    }
    var loadIndex = layer.load(2);
    getUserInfo(walletId).then(function(data){
        layer.close(loadIndex);
        console.log("用户信息:", data);
        if(data != null){
            updateUserInfoUI(data)
            layer.msg('用户信息更新成功!',{'time':1000})
            //移除所有交易记录
            removeAllTransactionRecords()
            //获取交易记录
            queryUserTransactionRecords(walletId)
            //更新钱包ID
            updateWalletIDUI(walletId)
        }
    }).catch(function(error){
        layer.close(loadIndex);
        console.log(error)
        layer.msg('获取用户信息失败!<br>'+error,{'time':1600})
    })
}

function queryUserTransactionRecords(walletId){
    getUserTransactionRecords(walletId).then(function(data){
        console.log("交易记录:", data);
        if (data!=null&&data.length>0){
            updateUserTransactionRecordsUI(data)
        }
    }).catch(function(error){
        console.log(error)
        layer.msg('获取交易记录失败!<br>'+error,{'time':1600})
    })
}



//-------------------------------------------UI设置------------------------------------------------
//UI组件初始化
$(document).ready(function(){
    initUIComponent()
})
function initUIComponent(){
    $('.ui.dropdown')
    .dropdown({
        // you can use any ui transition
        transition: 'drop'
    });
}
//wallet ID UI更新数据
function updateWalletIDUI(wallet_id){
    $('.wallet-id').text("0x"+wallet_id.substring(0,6)+'...'+wallet_id.substring(wallet_id.length-6))
}
//更新用户信息
function updateUserInfoUI(user_info){
    //更新UI显示
    //ID
    $('.wallet-id').text("0x"+user_info.user_id.substring(0,6)+'...'+user_info.user_id.substring(user_info.user_id.length-6));
    //用户名
    $('.wallet-account-name').text(user_info.user_name);
    //更新用户积分显示
    $('.wallet-account-num span').first().text(user_info.user_value);
}
//更新用户交易记录
function updateUserTransactionRecordsUI(transaction_records){
    
    //检查是否有新交易记录
    var newTransactionRecords = transaction_records
    //遍历新交易记录
    for (var i = 0; i < newTransactionRecords.length; i++) {
        var transaction = newTransactionRecords[i];
        //根据交易类型创建不同的UI
        if(transaction.transaction_type == "in"){
            createPointsIncomeItemUI(transaction);
        }else if(transaction.transaction_type == "out"){
            createPointsExpenseItemUI(transaction); 
        }
        createTransactionRecordItemUI(transaction);
    }
    //每周交易正负
    calculateTransactionPointsAndUpdateUI(newTransactionRecords)
}

//检测是否有新交易记录
function checkNewTransactionRecords(transaction_records){
    var newTransactionRecords = []
    for (var i = 0; i < transaction_records.length; i++) {
        var transaction = transaction_records[i];
        //暂时使用timestamp判断是否为新交易
        if (currentTransactionIdList.indexOf(transaction.timestamp) == -1){
            currentTransactionIdList.push(transaction.timestamp);
            newTransactionRecords.push(transaction);
        }
    }
    return newTransactionRecords;
}
//计算交易积分的正负(7天)
function calculateTransactionPointsAndUpdateUI(transaction_records){
    let weeklyPoints = 0
    let weeklyPointsList = []
    let weeklyRecordList = []
    let currentDate = new Date()
    for (var i = 0; i < transaction_records.length; i++) {
        var transaction = transaction_records[i];
        if (transaction.timestamp.split(' ')[0] == currentDate.toISOString().split('T')[0]){
            weeklyPoints += transaction.points //记录自带正负
            weeklyPointsList.push(weeklyPoints)
            weeklyRecordList.push(transaction)
        }
    }

    //更新积分正负值
    $('.wallet-account-num span').last().text(`${weeklyPoints >= 0 ? '+' : ''}${weeklyPoints}`);
    console.log("每周积分正负:",weeklyPointsList)
    return weeklyPoints
}
//-------------------------------------------UI创建------------------------------------------------
//积分收入项
function createPointsIncomeItemUI(transaction){
    // 克隆模板
    const template = document.getElementById("points-income-item-template");
    const item = template.cloneNode(true);
    
    // 移除display:none
    item.style.display = 'flex';
    item.id = `points-income-${transaction.transaction_id}`;
    
    // 设置数据
    item.querySelector('.points-amount span').innerText = `+${transaction.points}`;
    item.querySelector('.transfer-account').innerText = `转入账户: ${transaction.other_party}`;
    item.querySelector('.intel-id').innerText = `情报ID: ${transaction.info_id}`;
    item.querySelector('.transfer-time').innerText = transaction.timestamp;
    
    // 添加到容器
    document.querySelector('.points-income-tab').appendChild(item);
}

//积分支出项 
function createPointsExpenseItemUI(transaction){
    // 克隆模板
    const template = document.getElementById("points-expense-item-template");
    const item = template.cloneNode(true);
    
    // 移除display:none
    item.style.display = 'flex';
    item.id = `points-expense-${transaction.transaction_id}`;
    
    // 设置数据
    item.querySelector('.points-amount span').innerText = `${transaction.points}`;
    item.querySelector('.transfer-account').innerText = `转出账户: ${transaction.other_party}`;
    item.querySelector('.intel-id').innerText = `情报ID: ${transaction.info_id}`;
    item.querySelector('.transfer-time').innerText = transaction.timestamp;
    
    // 添加到容器
    document.querySelector('.points-expense-tab').appendChild(item);
}

//交易记录项
function createTransactionRecordItemUI(transaction){
    // 克隆模板
    const template = document.getElementById("transaction-record-item-template");
    const item = template.cloneNode(true);
    
    // 移除display:none
    item.style.display = 'flex';
    item.id = `transaction-${transaction.transaction_id}`;
    
    // 设置交易类型图标和文本
    const isIncome = transaction.transaction_type === "in";
    item.querySelector('.transaction-icon').innerText = isIncome ? "↓" : "↑";
    item.querySelector('.transaction-text').innerText = isIncome ? "转入" : "转出";
    
    // 设置其他数据
    item.querySelector('.transaction-amount span').innerText = 
        `${isIncome ? "+" : ""}${transaction.points}`;
    item.querySelector('.transaction-account').innerText = 
        `对方账户: ${transaction.other_party}`;
    item.querySelector('.transaction-hash').innerText = 
        `交易哈希: ${transaction.transaction_id}`;
    item.querySelector('.transaction-time').innerText = transaction.timestamp;
    item.querySelector('.transaction-status').innerText = 
        transaction.status === "success" ? "已完成" : "失败";
    
    // 添加到容器
    document.querySelector('.transaction-record-tab').appendChild(item);
}
//移出所有交易信息
function removeAllTransactionRecords(){
    // 删除所有交易记录,但保留模板
    $('#points-income-item-template').siblings().not('#points-income-item-template').remove();
    $('#points-expense-item-template').siblings().not('#points-expense-item-template').remove();
    $('#transaction-record-item-template').siblings().not('#transaction-record-item-template').remove();
}

function test(){
    // 示例调用
    const transaction = {
        transaction_id: "0x7a250d5630B4cF539739dF2C5dacC4c0ce9381e62",
        transaction_type: "in", 
        points: 100,
        other_party: "0x7a250d5630B4cF539739dF2C5dacC4c0ce9381e62",
        info_id: "0x9f86d081884c7d659a2feaa0c55ad015a3bf4f1b2b0b822cd15d6c15b0f00a08",
        timestamp: "2024-12-05 14:30",
        status: "success"
    };
    let transaction_records = [transaction]
    updateUserTransactionRecordsUI(transaction_records)
}
//-----------------------------------------窗口操作--------------------------------
function closeParentLayer(){
    var index = parent.layer.getFrameIndex(window.name); // 先得到当前 iframe 层的索引
    parent.layer.close(index); // 再执行关闭
}
var currentLayerIndex = null
function openWalletSelectWindow(wallet_ids) {
    var parentLayer = window.parent.layer;
    if(currentLayerIndex!=null){
        //默认只打开一个窗口
        parentLayer.close(currentLayerIndex);
    }
    var content = [
        '<div style="padding: 20px;">',
        '<select id="walletSelect" style="width:100%; padding:5px;">',
        wallet_ids.map(function(walletId) {
            return '<option value="' + walletId + '">' + walletId.substring(0,6)+'...'+walletId.substring(walletId.length-6) + '</option>';
        }).join(''),
        '</select>',
        '</div>'
    ].join('');
    //使用父层级打开窗口
    currentLayerIndex = parentLayer.open({
        type: 1,
        title: '请选择钱包',
        area: ['300px', 'auto'],
        content: content,
        btn: ['确定', '取消'],
        shade: 0,
        yes: function(index, layero){
            var selectedWallet = layero.find('#walletSelect').val();
            if(selectedWallet) {
                checkLocalWalletOnchain(selectedWallet);
                parentLayer.close(index);
            } else {
                parentLayer.msg('请选择一个钱包');
            }
        }
    });
}

</script>
</body>
</html>
