{{define "tab_traffic_content"}}
<div class="client-data-traffic-box">
    <div class="client-data-process-step-toolbar">
        <div onclick="prevStep()" class="client-data-process-step-prev" >
            <i class="bars icon"></i>
            <span class="client-data-process-step-prev-title">
                文件上传
            </span>
        </div>
        <button onclick="nextStep()"  class="ui blue button mini">下一步</button>
    </div>
    <div data-step="1" class="client-data-process-step-box process-step-active">
        <div class="upload-data-list">
            <div  id="upload-file-template" style="display: none;"  class="upload-data-item" >
                <div class="upload-data-item-body">
                    <div class="upload-data-item-icon">
                        <i class="file icon"></i>
                    </div>
                    <div class="upload-data-item-name">mock.csv</div>
                    <div class="upload-data-item-hash">a1bc52</div>
                    <div class="upload-data-item-size">1.2MB</div>
                    <div class="upload-data-item-tools">
                        <button  onclick="deleteUploadFileItem(this)" class="upload-data-item-delete-btn ui red button mini">
                            删除
                        </button>
                    </div>
                </div>
                <div class="upload-data-item-progress ui blue active bottom attached progress">
                    <div class="bar"></div>
                </div>
            </div>
        </div>
        <div class="upload-data-file-form">
            <input style="display: none;" type="file" multiple accept=".xlsx,.csv,.txt" id="file-upload-input">
            <div id="file-drop-area" class="ui placeholder segment">
                <div class="ui icon header">
                  <i class="file excel icon"></i>
                  拖拽或添加文件上传,支持格式:xlsx,csv,txt
                </div>
            </div>
        </div>
    </div>
    <div data-step="2" class="client-data-process-step-box" style="display: none;">
        <div class="stix-process-data-list-box">
            <div data-finish="false" data-process-id="" id="stix-process-data-item-template" style="display: none;"  class="stix-process-data-item upload-data-item" >
                <div class="stix-process-data-item-progress ui blue active top attached progress">
                    <div class="bar"></div>
                </div>
                <div class="stix-process-data-item-body upload-data-item-body">
                    <div class="upload-data-item-icon">
                        <i class="file icon"></i>
                    </div>
                    <div class="upload-data-item-name">mock.csv</div>
                    <div class="upload-data-item-hash">a1bc52</div>
                    <div class="upload-data-item-size">1.2MB</div>
                    <div class="stix-process-data-item-status">处理中0%(0/0)</div>
                    <div class="upload-data-item-tools">
                        <button  data-process-id="" onclick="startStixProcessData(this)" class="ui blue button mini stix-process-data-item-start-btn">
                            开始转换
                        </button>
                    </div>
                </div>
                <div class="stix-process-data-config">
                    <div class="stix-process-data-config-title">
                        STIX转换配置
                    </div>
                    <div class="stix-process-data-config-box">
                        <form data-process-id=""  class="stix-process-data-config-form ui form small">
                            <div class="field">
                                <label>情报类型</label>
                                <div class="ui selection dropdown stix-type">
                                    <i class="dropdown icon"></i>
                                    <div class="default text">恶意流量</div>
                                    <input class="small" type="hidden" name="stix_type">
                                </div>
                            </div>
                            <div class="field">
                                <label>流量特征字段</label>
                                <div class="ui action input">
                                    <input type="text" name="traffic_feature_field" value="">
                                    <div data-process-id="" onclick="getTrafficFeatureField(this)" class="get-traffic-feature-field-btn ui blue left icon button">
                                      <i class="check icon"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="field">
                                <label>分类标签</label>
                                <select  class="ui dropdown tiny" name="stix_label">
                                  <option value="">选择划分情报的标签字段</option>
                                </select>
                            </div>
                            <div class="field">
                                <label>提取IOCs</label>
                                <select multiple="" class="ui dropdown" name="stix_iocs">
                                  <option value="">选择需要提取的IOC</option>
                                  <option value="ip">IP</option>
                                  <option value="port">端口</option>
                                  <option value="flow">流特征</option>
                                  <option value="hash">HASH</option>
                                  <option value="url">URL</option>
                                  <option value="cve">CVE</option>
                                </select>
                            </div>
                            <div class="field">
                                <label>数据压缩</label>
                                <div class="ui selection dropdown stix-compress">
                                    <i class="dropdown icon"></i>
                                    <div class="default text">1000条</div>
                                    <input class="small" type="hidden" name="stix_compress">
                                </div>
                            </div>
                            <button onclick="event.preventDefault(); deleteStixProcessDataItem(this)" class="ui red mini button stix-process-data-item-delete-btn">删除</button>
                        </form>
                        
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>

{{end}}