
/*semantic自定义样式*/

.ui.form .field>.selection.dropdown>.dropdown.icon {
    float: right;
    top: 25%;
}
.ui.selection.dropdown{
    padding: 5px 10px!important;
}
.ui.placeholder.segment{
    min-height: 100px!important;
}
.ui.icon.header{
    margin: 0!important;
}