{{define "content"}}
<div class="bc-browser">
    <div class="bc-browser-container">        
        <div class="bc-browser-box-title">
            区块链状态
        </div>
        <div class="bc-browser-box bc-browser-box-1">
            <div class="bc-data-summary">
                <div class="summary-item">
                    <div class="summary-item-left">
                        <i class="icon cube"></i>
                    </div>
                    <div class="summary-item-right">
                        <div class="summary-item-title">
                            区块高度
                        </div>
                        <div class="summary-item-content">
                            <span class="value-num">{{.bcSummary.BlockHeight}}</span>
                            <span class="value-unit"></span>
                        </div>
                    </div>
                    
                </div>
                <div class="summary-item">
                    <div class="summary-item-left">
                        <i class="icon credit card outline"></i>
                    </div>
                    <div class="summary-item-right">
                        <div class="summary-item-title">
                            交易总数
                        </div>
                        <div class="summary-item-content">
                            <span class="value-num">{{.bcSummary.TransactionTotal}}</span>
                            <span class="value-unit"></span>
                        </div>
                    </div>
                </div>
                <div class="summary-item">
                    <div class="summary-item-left">
                        <i class="icon globe"></i>
                    </div>
                    <div class="summary-item-right">
                        <div class="summary-item-title">
                            节点
                        </div>
                        <div class="summary-item-content">
                            <span class="value-num">{{.bcSummary.NodeNum}}</span>
                            <span class="value-unit"></span>
                        </div>
                    </div>
                </div>
                <div class="summary-item">
                    <div class="summary-item-left">
                        <i class="icon code"></i>
                    </div>
                    <div class="summary-item-right">
                        <div class="summary-item-title">
                            链码
                        </div>
                        <div class="summary-item-content">
                            <span class="value-num">{{.bcSummary.ChaincodeNum}}</span>
                            <span class="value-unit"></span>
                        </div>
                    </div>
                </div>
                <div class="summary-item">
                    <div class="summary-item-left">
                        <i class="icon shield alternate"></i>
                    </div>
                    <div class="summary-item-right">
                        <div class="summary-item-title">
                            CTI数量
                        </div>
                        <div class="summary-item-content">
                            <span class="value-num">{{.bcSummary.CTITotal}}</span>
                            <span class="value-unit" ></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="bc-browser-box-title">
            最新区块
        </div>
        <div class="bc-browser-box bc-browser-box-2">
            <div class="bc-tx-info-card">
                <div class="info-card-title">
                    #HASH <span class="hash-value">0x56545</span>
                </div>
                <div class="info-card-body">
                    <div class="info-card-row tags">
                        <a class="ui small  blue label">height 1</a>
                    
                    </div>
                    <div class="info-card-row">
                        交易时间:2024-05-25 14:30:00
                    </div>
                    <div class="info-card-row">
                        交易HASH:0x56cd65
                    </div>
                    <div class="info-card-row">
                        签名:0x56cd65554adfc
                    </div>
                </div>
            </div>
            <div class="bc-tx-info-card">
                <div class="info-card-title">
                    #HASH <span class="hash-value">0x56545</span>
                </div>
                <div class="info-card-body">
                    <div class="info-card-row tags">
                        <a class="ui small blue label">height 1</a>
                    </div>
                    <div class="info-card-row">
                        交易时间:2024-05-25 14:30:00
                    </div>
                    <div class="info-card-row">
                        交易HASH:0x56cd65
                    </div>
                    <div class="info-card-row">
                        签名:0x56cd65554adfc
                    </div>
                </div>
            </div>
            <div class="bc-tx-info-card">
                <div class="info-card-title">
                    #HASH <span class="hash-value">0x56545</span>
                </div>
                <div class="info-card-body">
                    <div class="info-card-row tags">
                        <a class="ui small blue label">height 1</a>
                    </div>
                    <div class="info-card-row">
                        交易时间:2024-05-25 14:30:00
                    </div>
                    <div class="info-card-row">
                        交易HASH:0x56cd65
                    </div>
                    <div class="info-card-row">
                        签名:0x56cd65554adfc
                    </div>
                </div>
            </div>
            <div class="bc-tx-info-card">
                <div class="info-card-title">
                    #HASH <span class="hash-value">0x56545</span>
                </div>
                <div class="info-card-body">
                    <div class="info-card-row tags">
                        <a class="ui small blue label">height 1</a>
                    </div>
                    <div class="info-card-row">
                        交易时间:2024-05-25 14:30:00
                    </div>
                    <div class="info-card-row">
                        交易HASH:0x56cd65
                    </div>
                    <div class="info-card-row">
                        签名:0x56cd65554adfc
                    </div>
                </div>
            </div>
        </div>
        <div class="bc-browser-box-title">
            上链情报
        </div>
        <div class="bc-browser-box bc-browser-box-3">
            <div class="table-toolbar">
                <div class="layui-form table-toolbar-search">
                    <input type="text" placeholder="请输出情报Hash" class="layui-input">
                    <div class="table-toolbar-search-btn" style="cursor: pointer;">
                        <i class="layui-icon layui-icon-search"></i>
                    </div>
                </div>
            </div>
            <div class="cti-upchain-table-box"> 
                <table class="cti-upchain-table">
                    <colgroup>
                        <col style="width: 30px;">
                        <col style="width: 140px;">
                        <col style="width: 230px;">
                        <col style="width: 120px;">
                        <col style="width: 100px;">
                        <col style="width: 100px;">
                        <col style="width: 60px;">
                    </colgroup>
                    <thead>
                        <tr>
                            <th>#</th>
                            <th >CTI编号</th>
                            <th >标签</th>
                            <th>发布者</th>
                            <th>上链时间</th>
                            <th>链上hash</th>
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script>
    var $ = layui.jquery;
    var layer = layui.layer;
    var bc_server_host = localStorage.getItem("bcServerHost");
    if(bc_server_host == null){
        bc_server_host = "http://127.0.0.1:7777";
    }
    //---------------------------区块状态----------------------------
    //定时查询区块数据
    function queryBcSummaryData(){
        $.ajax({
            type: "POST",
            url: bc_server_host+'/blockchain/queryChain',
            contentType: "application/json",
            dataType: "json",
            success: function (res) {
                var bcSummary = JSON.parse(res.data);
                console.log(bcSummary);
            },
            error: function () {
                layer.msg("AJAX请求异常");
            }
        });
    }
 
    //---------------------------CTI交易数据-----------------------
    function queryCTISaleData(){
        $.ajax({
            type: "POST",
            url: '/bc-browser/query_cti_sale_data',
            contentType: "application/json",
            dataType: "json",
            success: function (res) {
                var ctiSaleData = JSON.parse(res.data);
                console.log(bcSummary);
            },
            error: function () {
                layer.msg("AJAX请求异常");
            }
        });
    }
   
    //-------------------------轮播table数据------------------------
    var new_upchain_cti_data = [
        [ '11010000001256', '物联网; 僵尸网络; 路由器; 俄罗斯; IOC; HASH; IP; URL; FILE', '12', '2024-05-25', '0xcce26bb', '<a class="open-cti-detail" data-id="1" >详情</a>'],
        [ '11010000001257', '物联网; 僵尸网络; 路由器; 俄罗斯; IOC; HASH; IP; URL; FILE', '123', '2024-05-26', '0xcce26bc', '<a class="open-cti-detail" data-id="2" >详情</a>'],
        [ '11010000001258', '物联网; 僵尸网络; 路由器; 俄罗斯; IOC; HASH; IP; URL; FILE', '123', '2024-05-27', '0xcce26bd', '<a class="open-cti-detail" data-id="3" >详情</a>'],
        [ '11010000001259', '勒索软件; IOC; HASH; FILE; EMAIL', '213', '2024-05-28', '0xcce26be', '<a class="open-cti-detail" data-id="3">详情</a>'],
        [ '11010000001250', '物联网; 僵尸网络; 路由器; 俄罗斯; IOC; HASH; IP; URL; FILE', '123', '2024-05-29', '0xcce26bf', '<a class="open-cti-detail" data-id="4">详情</a>'],
        [ '11010000001251', '勒索软件; IOC; HASH; FILE; EMAIL', '123', '2024-05-30', '0xcce26c0', '<a class="open-cti-detail" data-id="5">详情</a>'],
        [ '11010000001252', '勒索软件; IOC; HASH; FILE; EMAIL', '123', '2024-05-30', '0xcce26c0', '<a class="open-cti-detail" data-id="6">详情</a>'],
        [ '11010000001253', '勒索软件; IOC; HASH; FILE; EMAIL', '123', '2024-05-30', '0xcce26c0', '<a class="open-cti-detail" data-id="7">详情</a>']
    ];
    var tableIndexMap = {
        'cti-upchain-table': 0,
    }
    var fixedRowsMap={
        'cti-upchain-table': 8,
    }
    tableBodyDomNameMap = {
        'cti-upchain-table': '.cti-upchain-table tbody',
    }
    //初始化轮播表
    function initializeCarouselTable(tableName,tableData) {
        var table = $(tableBodyDomNameMap[tableName])
        // 清空表格内容
        table.empty();

        // 计算当前显示的数据范围
        var startIndex = tableIndexMap[tableName];
        var endIndex = Math.min(startIndex + fixedRowsMap[tableName], tableData.length);

        // 添加初始数据
        for (var i = startIndex; i < endIndex; i++) {
            var row = $('<tr>');
            // 循环添加每一列数据
            for (var j = 0; j < tableData[i].length+1; j++) {
                if (j === 0) {
                    row.append('<td>' + i+ '</td>');
                } else {
                    // 其他列直接使用数组中的值
                    row.append('<td>' + tableData[i][j-1] + '</td>');
                }
            }
            table.append(row);
        }
    }
    function carouselTableLoop(tableName,tableData) {
        var table = $(tableBodyDomNameMap[tableName])
        // 获取最后一行
        var lastRow = table.find('tr:last');

        // 创建新行
        var newRow = $('<tr>');
        // 添加序号
        newRow.append('<td>' + (tableIndexMap[tableName]) + '</td>'); // 序号
        // 添加其他列数据
        for (var j = 0; j < tableData[tableIndexMap[tableName]].length; j++) {
            newRow.append('<td>' + tableData[tableIndexMap[tableName]][j] + '</td>');
        }
        // 添加新行并淡入
        table.append(newRow);
        //newRow.hide().fadeIn(500); // 淡入新行

        // 获取第一行并淡出
        var firstRow = table.find('tr:first');
            firstRow.remove(); // 移除第一行

        // 更新索引，确保循环
        tableIndexMap[tableName] = (tableIndexMap[tableName] + 1) % tableData.length;
    }
    
    //-------------------------启动函数----------------------------
    $(document).ready(function() {
        //定时查询数据
        setTimeout(() => {
            queryBcSummaryData()
        }, 3000);
        initializeCarouselTable('cti-upchain-table',new_upchain_cti_data)

        setInterval(function(){
            carouselTableLoop('cti-upchain-table',new_upchain_cti_data)
        },3000);
        // 为 '详情' 按钮绑定点击事件
        $('.open-cti-detail').click(function() {
            var ctiId = $(this).data('id');
            openCtiDetailWindow('/cti-market/detail?id=' + ctiId);
        });
    });
    var currentLayerIndex = null; //设置只可打开一个窗口
    function openCtiDetailWindow(url) {
        if (currentLayerIndex !== null) {
            layer.close(currentLayerIndex);
        }
        currentLayerIndex = layer.open({
                type: 2,
                title: '详情',
                area: ['700px', '550px'], // 设置窗口宽度和高度
                shade: 0, // 设置遮罩透明度
                content: url,
                success: function(layero, index){
                }
        });
    }
</script>


{{end}}
	
 
