{{define "content"}}
<div class="bc-browser">
    <div class="bc-browser-container">        
        <div class="bc-browser-box-title">
            区块链状态
        </div>
        <div class="bc-browser-box bc-browser-box-1">
            <div class="bc-data-summary">
                <div class="summary-item">
                    <div class="summary-item-left">
                        <i class="icon cube"></i>
                    </div>
                    <div class="summary-item-right">
                        <div class="summary-item-title">
                            区块高度
                        </div>
                        <div class="summary-item-content">
                            <span class="value-num" id="block_height">0</span>
                            <span class="value-unit"></span>
                        </div>
                    </div>
                    
                </div>
                <div class="summary-item">
                    <div class="summary-item-left">
                        <i class="icon credit card outline"></i>
                    </div>
                    <div class="summary-item-right">
                        <div class="summary-item-title">
                            交易总数
                        </div>
                        <div class="summary-item-content">
                            <span class="value-num" id="total_transactions">0</span>
                            <span class="value-unit"></span>
                        </div>
                    </div>
                </div>
                <div class="summary-item">
                    <div class="summary-item-left">
                        <i class="icon globe"></i>
                    </div>
                    <div class="summary-item-right">
                        <div class="summary-item-title">
                            节点
                        </div>
                        <div class="summary-item-content">
                            <span class="value-num" id="node_count">0</span>
                            <span class="value-unit"></span>
                        </div>
                    </div>
                </div>
                <div class="summary-item">
                    <div class="summary-item-left">
                        <i class="icon code"></i>
                    </div>
                    <div class="summary-item-right">
                        <div class="summary-item-title">
                            链码
                        </div>
                        <div class="summary-item-content">
                            <span class="value-num" id="chaincode_count">0</span>
                            <span class="value-unit"></span>
                        </div>
                    </div>
                </div>
                <div class="summary-item">
                    <div class="summary-item-left">
                        <i class="icon shield alternate"></i>
                    </div>
                    <div class="summary-item-right">
                        <div class="summary-item-title">
                            CTI数量
                        </div>
                        <div class="summary-item-content">
                            <span class="value-num" id="cti_count">0</span>
                            <span class="value-unit" ></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="bc-browser-box-title">
            最新区块
        </div>
        <div class="bc-browser-box bc-browser-box-2">
            <div class="bc-tx-info-card">
                <div class="info-card-title">
                    #HASH <span class="hash-value">0x56545</span>
                </div>
                <div class="info-card-body">
                    <div class="info-card-row tags">
                        <a class="ui small  blue label">height 1</a>
                    
                    </div>
                    <div class="info-card-row">
                        交易时间:2024-05-25 14:30:00
                    </div>
                    <div class="info-card-row">
                        交易HASH:0x56cd65
                    </div>
                    <div class="info-card-row">
                        签名:0x56cd65554adfc
                    </div>
                </div>
            </div>
            <div class="bc-tx-info-card">
                <div class="info-card-title">
                    #HASH <span class="hash-value">0x56545</span>
                </div>
                <div class="info-card-body">
                    <div class="info-card-row tags">
                        <a class="ui small blue label">height 1</a>
                    </div>
                    <div class="info-card-row">
                        交易时间:2024-05-25 14:30:00
                    </div>
                    <div class="info-card-row">
                        交易HASH:0x56cd65
                    </div>
                    <div class="info-card-row">
                        签名:0x56cd65554adfc
                    </div>
                </div>
            </div>
            <div class="bc-tx-info-card">
                <div class="info-card-title">
                    #HASH <span class="hash-value">0x56545</span>
                </div>
                <div class="info-card-body">
                    <div class="info-card-row tags">
                        <a class="ui small blue label">height 1</a>
                    </div>
                    <div class="info-card-row">
                        交易时间:2024-05-25 14:30:00
                    </div>
                    <div class="info-card-row">
                        交易HASH:0x56cd65
                    </div>
                    <div class="info-card-row">
                        签名:0x56cd65554adfc
                    </div>
                </div>
            </div>
            <div class="bc-tx-info-card">
                <div class="info-card-title">
                    #HASH <span class="hash-value">0x56545</span>
                </div>
                <div class="info-card-body">
                    <div class="info-card-row tags">
                        <a class="ui small blue label">height 1</a>
                    </div>
                    <div class="info-card-row">
                        交易时间:2024-05-25 14:30:00
                    </div>
                    <div class="info-card-row">
                        交易HASH:0x56cd65
                    </div>
                    <div class="info-card-row">
                        签名:0x56cd65554adfc
                    </div>
                </div>
            </div>
        </div>
        <div class="bc-browser-box-title">
            上链情报
        </div>
        <div class="bc-browser-box bc-browser-box-3">
            <div class="table-toolbar">
                <div class="layui-form table-toolbar-search">
                    <input type="text" placeholder="请输出情报Hash" class="layui-input">
                    <div class="table-toolbar-search-btn" style="cursor: pointer;">
                        <i class="layui-icon layui-icon-search"></i>
                    </div>
                </div>
            </div>
            <div class="cti-upchain-table-box"> 
                <table class="cti-upchain-table">
                    <colgroup>
                        <col style="width: 30px;">
                        <col style="width: 140px;">
                        <col style="width: 130px;">
                        <col style="width: 120px;">
                        <col style="width: 100px;">
                        <col style="width: 100px;">
                        <col style="width: 60px;">
                    </colgroup>
                    <thead>
                        <tr>
                            <th>#</th>
                            <th >CTI编号</th>
                            <th >标签</th>
                            <th>发布者</th>
                            <th>上链时间</th>
                            <th>链上hash</th>
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="/static/client/js/client_request.js"></script>
<script>
    var $ = layui.jquery;
    var layer = layui.layer;
    var bc_server_host = localStorage.getItem("bcServerHost");
    if(bc_server_host == null){
        bc_server_host = "http://127.0.0.1:7777";
    }
    //----------------------------------------------------初始化-------------------------------------------------
    $(document).ready(function() {
        //定时查询数据
        var loadingIndex = layer.load(1);
        initializeCarouselTable('cti-upchain-table',new_upchain_cti_data)
        setInterval(function(){
            
            //查询区块数据
            queryBcSummaryData();
            //查询CTI交易数据
            queryCTITransactionData().then(function(data){
                var ctiDataList = data.cti_infos
                if(ctiDataList!=undefined && ctiDataList.length>0){
                    var ctiTransactionData = ctiDataList
                    processAndUpdateCTIData(ctiTransactionData);
                }
                layer.close(loadingIndex);
            }).catch(function(error){
                console.error("Failed to get CTI transaction data:", error);
                layer.close(loadingIndex);
                return;
            });
            
        },6000);
        setInterval(function(){
            //轮播table
            carouselTableLoop('cti-upchain-table')
            // 为 '详情' 按钮绑定点击事件
            $('.open-cti-detail').click(function() {
                var ctiId = $(this).data('id');
                openCtiDetailWindow('/cti-market/detail?id=' + ctiId);
            });
        },3000);
            
        
    });
    //----------------------------------------------------区块状态-------------------------------------------------
    //定时查询区块数据
    function queryBcSummaryData(){
        
        $.ajax({
            type: "POST",
            url: bc_server_host+'/dataStat/getSystemOverview',
            contentType: "application/json",
            dataType: "json",
            success: function (response) {
                var bcSummary = response.result;
                updateBcSummaryUI(bcSummary);
                console.log("bcSummary:",bcSummary);
                //查询最新区块数据
                queryLatestBlockData(bcSummary.block_height);
            },
            error: function () {
                layer.msg("AJAX请求异常");
            }
        });
    }
    //更新UI
    function updateBcSummaryUI(bcSummary){
        $("#block_height").text(bcSummary.block_height);
        $("#total_transactions").text(bcSummary.total_transactions||0);
        $("#node_count").text(bcSummary.node_count||3);
        $("#chaincode_count").text(bcSummary.chaincode_count||1);
        $("#cti_count").text(bcSummary.cti_count);
    }
    //----------------------------------------------------最新区块信息------------------------------------------------------------
    //查询最新4个区块信息
    function queryLatestBlockData(latestBlockHeight){
        latestBlockHeight = latestBlockHeight - 1 //最新高度要减去1
        console.log("latestBlockHeight:",latestBlockHeight);
        for(let i=0;i<4;i++){
            if(latestBlockHeight-i>0){
                queryBlockInfoByHeight(latestBlockHeight-i).then(function(rawblockInfo){
                var blockInfo = processBlockData(rawblockInfo);
                updateLatestBlockUI(i,blockInfo);
                }).catch(function(error){
                    console.error("Failed to get block info:", error);
                });
            }           
        }
    }
    //处理区块数据
    function processBlockData(blockInfo){
        var processedData = {
            hash: blockInfo.header.data_hash || '',
            height: blockInfo.header.number || '',
            timestamp: blockInfo.data.data[0].payload.header.channel_header.timestamp || '',
            signature: blockInfo.metadata.metadata[0] || ''
        };
        //字符串转bytes再转16进制字符
        processedData.hash = Array.from(new TextEncoder().encode(processedData.hash))
            .map(b => b.toString(16).padStart(2, '0'))
            .join('');
        processedData.signature = Array.from(new TextEncoder().encode(processedData.signature))
            .map(b => b.toString(16).padStart(2, '0'))
            .join('');
        processedData.hash='0x'+processedData.hash;
        processedData.signature='0x'+processedData.signature;
        //处理时间
        if (processedData.timestamp) {
            processedData.timestamp = processedData.timestamp.replace('T', ' ').split('.')[0];
        }
        return processedData;
    }
    //更新UI
    function updateLatestBlockUI(index=0,blockInfo){
        var blockCards = document.querySelectorAll('.bc-tx-info-card');
        if(blockInfo){
            let card = blockCards[index];
            card.querySelector('.hash-value').textContent = blockInfo.hash.substring(0,7);
            card.querySelector('.ui.small.blue.label').textContent = 'height ' + blockInfo.height;
            let infoCardRows = card.querySelectorAll('.info-card-row');
            infoCardRows[1].textContent = '交易时间:' + blockInfo.timestamp;
            infoCardRows[2].textContent = '交易HASH:' + truncateText(blockInfo.hash,8,3);
            infoCardRows[3].textContent = '签名:' + truncateText(blockInfo.signature,8,3);
        }
    }
    //----------------------------------------------------CTI交易数据----------------------------------------------------------------------------------------------
   
    //----------------------------------------------------轮播table数据---------------------------------------------------------------------------------
    //查询CTI交易数据(最新10条)
    function queryCTITransactionData(){
        //查询最新10个cti数据
        return queryCTIData(-1, 1, 10)
    }
    //处理数据
    function processAndUpdateCTIData(ctiTransactionData){
        var formattedData = [];
        console.log("ctiTransactionData:",ctiTransactionData);
        if (ctiTransactionData && ctiTransactionData.length > 0) {
            ctiTransactionData.forEach(function(item, index) {
                var row = [
                    item.cti_id,
                    item.tags.join('; '), 
                    item.creator_user_id.substring(0,12),
                    item.create_time,
                    item.cti_hash.substring(0,8),
                    '<a class="open-cti-detail" data-id="' + item.cti_id + '" >详情</a>'
                ];
                formattedData.push(row);
            });
        }
        

        if(new_upchain_cti_data.length==0){
            initializeCarouselTable('cti-upchain-table',formattedData)
        }
        new_upchain_cti_data = formattedData;
        carouselTableLoop('cti-upchain-table')
    }
    //----------------------------------------------------更新UI--------------------------------------------------------
    var new_upchain_cti_data = [
    ];
    var tableIndexMap = {
        'cti-upchain-table': 0,
    }
    var fixedRowsMap={
        'cti-upchain-table': 9,
    }
    tableBodyDomNameMap = {
        'cti-upchain-table': '.cti-upchain-table tbody',
    }
    //初始化轮播表
    function initializeCarouselTable(tableName,tableData) {
        if(!tableData || tableData.length === 0) {
            return;
        }
        
        var table = $(tableBodyDomNameMap[tableName])
        // 清空表格内容
        table.empty();

        // 计算当前显示的数据范围
        var startIndex = tableIndexMap[tableName];
        var endIndex = Math.min(startIndex + fixedRowsMap[tableName], tableData.length);

        // 添加初始数据
        for (var i = startIndex; i < endIndex; i++) {
            var row = $('<tr>');
            // 循环添加每一列数据
            for (var j = 0; j < tableData[i].length+1; j++) {
                if (j === 0) {
                    row.append('<td>' + (i+1) + '</td>');
                } else {
                    // 其他列直接使用数组中的值
                    row.append('<td>' + tableData[i][j-1] + '</td>');
                }
            }
            table.append(row);
        }
    }
    
    function carouselTableLoop(tableName) {
        var tableData = new_upchain_cti_data
        if(!tableData || tableData.length === 0) {
            return;
        }
        console.log("tableData:",tableData);
        var table = $(tableBodyDomNameMap[tableName]);
        
        // 检查当前索引是否有效
        if(tableIndexMap[tableName] >= (tableData.length)) {
            tableIndexMap[tableName] = 1;
        }
        
        // 获取最后一行
        var lastRow = table.find('tr:last');

        // 创建新行
        var newRow = $('<tr>');
        // 添加序号
        newRow.append('<td>' + (tableIndexMap[tableName]+1) + '</td>'); // 序号
        // 添加其他列数据
        for (var j = 0; j < tableData[tableIndexMap[tableName]].length; j++) {
            newRow.append('<td>' + tableData[tableIndexMap[tableName]][j] + '</td>');
        }
        // 添加新行并淡入
        table.append(newRow);
        //newRow.hide().fadeIn(500); // 淡入新行

        // 获取第一行并淡出
        //如果table行数大于10，则移除第一行
        if(table.find('tr').length>10){
            var firstRow = table.find('tr:first');
            firstRow.remove(); // 移除第一行
        }

        // 更新索引，确保循环
        tableIndexMap[tableName] = (tableIndexMap[tableName] + 1) % (tableData.length);
    }
    //------------------------------------------窗口操作----------------------------------------------------------------------------------------------
    var currentLayerIndex = null; //设置只可打开一个窗口
    function openCtiDetailWindow(url) {
        if (currentLayerIndex !== null) {
            layer.close(currentLayerIndex);
        }
        currentLayerIndex = layer.open({
                type: 2,
                title: '详情',
                area: ['700px', '550px'], // 设置窗口宽度和高度
                shade: 0, // 设置遮罩透明度
                content: url,
                success: function(layero, index){
                }
        });
    }
    //------------------------------------------工具函数-----------------------------------------------------------------
    //截断文本
    function truncateText(text, maxLength,endLength) {
        if (endLength == null) {
            endLength = 6;
        }
        if(text.length <= maxLength){
            return text;
        }
        if(maxLength>(text.length-endLength)){
            maxLength = text.length-endLength;
        }
        return text.length > maxLength ? text.substring(0, maxLength) + '...' + text.substring(text.length - endLength) : text;
    }
    function formatSize(bytes) {
        if (bytes === 0) return '0 Bytes';
        const k = 1024;
        const sizes = ['Bytes', 'KB', 'MB', 'GB', 'TB'];
        const i = Math.floor(Math.log(bytes) / Math.log(k));
        return parseFloat((bytes / Math.pow(k, i)).toFixed(2)) + ' ' + sizes[i];
    }
</script>


{{end}}
	
 
