{{define "content"}}
<div class="bc-browser">
    <div class="bc-browser-container">        
        <div class="bc-browser-box-title">
            区块链状态
        </div>
        <div class="bc-browser-box bc-browser-box-1">
            <div class="bc-data-summary">
                <div class="summary-item">
                    <div class="summary-item-left">
                        <i class="icon cube"></i>
                    </div>
                    <div class="summary-item-right">
                        <div class="summary-item-title">
                            区块高度
                        </div>
                        <div class="summary-item-content">
                            <span class="value-num" id="block_height">0</span>
                            <span class="value-unit"></span>
                        </div>
                    </div>
                    
                </div>
                <div class="summary-item">
                    <div class="summary-item-left">
                        <i class="icon credit card outline"></i>
                    </div>
                    <div class="summary-item-right">
                        <div class="summary-item-title">
                            交易总数
                        </div>
                        <div class="summary-item-content">
                            <span class="value-num" id="total_transactions">0</span>
                            <span class="value-unit"></span>
                        </div>
                    </div>
                </div>
                <div class="summary-item">
                    <div class="summary-item-left">
                        <i class="icon globe"></i>
                    </div>
                    <div class="summary-item-right">
                        <div class="summary-item-title">
                            节点
                        </div>
                        <div class="summary-item-content">
                            <span class="value-num" id="node_count">0</span>
                            <span class="value-unit"></span>
                        </div>
                    </div>
                </div>
                <div class="summary-item">
                    <div class="summary-item-left">
                        <i class="icon code"></i>
                    </div>
                    <div class="summary-item-right">
                        <div class="summary-item-title">
                            链码
                        </div>
                        <div class="summary-item-content">
                            <span class="value-num" id="chaincode_count">0</span>
                            <span class="value-unit"></span>
                        </div>
                    </div>
                </div>
                <div class="summary-item">
                    <div class="summary-item-left">
                        <i class="icon shield alternate"></i>
                    </div>
                    <div class="summary-item-right">
                        <div class="summary-item-title">
                            CTI数量
                        </div>
                        <div class="summary-item-content">
                            <span class="value-num" id="cti_count">0</span>
                            <span class="value-unit" ></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="bc-browser-box-title">
            最新区块
        </div>
        <div class="bc-browser-box bc-browser-box-2">
            <div class="bc-tx-info-card">
                <div class="info-card-title">
                    #HASH <span class="hash-value">0x56545</span>
                </div>
                <div class="info-card-body">
                    <div class="info-card-row tags">
                        <a class="ui small  blue label">height 1</a>
                    
                    </div>
                    <div class="info-card-row">
                        交易时间:2024-05-25 14:30:00
                    </div>
                    <div class="info-card-row">
                        交易HASH:0x56cd65
                    </div>
                    <div class="info-card-row">
                        签名:0x56cd65554adfc
                    </div>
                </div>
            </div>
            <div class="bc-tx-info-card">
                <div class="info-card-title">
                    #HASH <span class="hash-value">0x56545</span>
                </div>
                <div class="info-card-body">
                    <div class="info-card-row tags">
                        <a class="ui small blue label">height 1</a>
                    </div>
                    <div class="info-card-row">
                        交易时间:2024-05-25 14:30:00
                    </div>
                    <div class="info-card-row">
                        交易HASH:0x56cd65
                    </div>
                    <div class="info-card-row">
                        签名:0x56cd65554adfc
                    </div>
                </div>
            </div>
            <div class="bc-tx-info-card">
                <div class="info-card-title">
                    #HASH <span class="hash-value">0x56545</span>
                </div>
                <div class="info-card-body">
                    <div class="info-card-row tags">
                        <a class="ui small blue label">height 1</a>
                    </div>
                    <div class="info-card-row">
                        交易时间:2024-05-25 14:30:00
                    </div>
                    <div class="info-card-row">
                        交易HASH:0x56cd65
                    </div>
                    <div class="info-card-row">
                        签名:0x56cd65554adfc
                    </div>
                </div>
            </div>
            <div class="bc-tx-info-card">
                <div class="info-card-title">
                    #HASH <span class="hash-value">0x56545</span>
                </div>
                <div class="info-card-body">
                    <div class="info-card-row tags">
                        <a class="ui small blue label">height 1</a>
                    </div>
                    <div class="info-card-row">
                        交易时间:2024-05-25 14:30:00
                    </div>
                    <div class="info-card-row">
                        交易HASH:0x56cd65
                    </div>
                    <div class="info-card-row">
                        签名:0x56cd65554adfc
                    </div>
                </div>
            </div>
        </div>
        <div class="bc-browser-box-title">
            上链情报
        </div>
        <div class="bc-browser-box bc-browser-box-3">
            <div class="table-toolbar">
                <div class="layui-form table-toolbar-search">
                    <input type="text" placeholder="请输出情报Hash" class="layui-input">
                    <div class="table-toolbar-search-btn" style="cursor: pointer;">
                        <i class="layui-icon layui-icon-search"></i>
                    </div>
                </div>
            </div>
            <div class="cti-upchain-table-box"> 
                <table class="cti-upchain-table">
                    <colgroup>
                        <col style="width: 30px;">
                        <col style="width: 140px;">
                        <col style="width: 230px;">
                        <col style="width: 120px;">
                        <col style="width: 100px;">
                        <col style="width: 100px;">
                        <col style="width: 60px;">
                    </colgroup>
                    <thead>
                        <tr>
                            <th>#</th>
                            <th >CTI编号</th>
                            <th >标签</th>
                            <th>发布者</th>
                            <th>上链时间</th>
                            <th>链上hash</th>
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="/static/client/js/client_request.js"></script>
<script>
    var $ = layui.jquery;
    var layer = layui.layer;
    var bc_server_host = localStorage.getItem("bcServerHost");
    if(bc_server_host == null){
        bc_server_host = "http://127.0.0.1:7777";
    }
    //----------------------------------------------------初始化-------------------------------------------------
    $(document).ready(function() {
        //定时查询数据
        var loadingIndex = layer.load(1);
        initializeCarouselTable('cti-upchain-table',new_upchain_cti_data)
        setInterval(function(){
            
            //查询区块数据
            queryBcSummaryData();
            //查询CTI交易数据
            queryCTITransactionData().then(function(data){
                var ctiTransactionData = JSON.parse(data);
                processCTIData(ctiTransactionData);
                layer.close(loadingIndex);
            }).catch(function(error){
                console.error("Failed to get CTI transaction data:", error);
                layer.close(loadingIndex);
                return;
            });
            //轮播table
            carouselTableLoop('cti-upchain-table',new_upchain_cti_data)
            // 为 '详情' 按钮绑定点击事件
            $('.open-cti-detail').click(function() {
                var ctiId = $(this).data('id');
                openCtiDetailWindow('/cti-market/detail?id=' + ctiId);
            });
        },3000);
        
    });
    //----------------------------------------------------区块状态-------------------------------------------------
    //定时查询区块数据
    function queryBcSummaryData(){
        
        $.ajax({
            type: "POST",
            url: bc_server_host+'/dataStat/getSystemOverview',
            contentType: "application/json",
            dataType: "json",
            success: function (response) {
                var bcSummary = response.result;
                updateBcSummaryUI(bcSummary);
                //查询最新区块数据
                queryLatestBlockData(bcSummary.block_height);
            },
            error: function () {
                layer.msg("AJAX请求异常");
            }
        });
    }
    //更新UI
    function updateBcSummaryUI(bcSummary){
        $("#block_height").text(bcSummary.block_height);
        $("#total_transactions").text(bcSummary.total_transactions||0);
        $("#node_count").text(bcSummary.node_count||3);
        $("#chaincode_count").text(bcSummary.chaincode_count||1);
        $("#cti_count").text(bcSummary.cti_count);
    }
    //----------------------------------------------------最新区块信息------------------------------------------------------------
    //查询最新4个区块信息
    function queryLatestBlockData(latestBlockHeight=1){
        var preBlockHeight = (latestBlockHeight-4)<0?0:(latestBlockHeight-4);
        for(var i=0;i<4;i++){
            queryBlockInfoByHeight(preBlockHeight+i).then(function(blockInfo){
                updateLatestBlockUI(i,blockInfo);
            }).catch(function(error){
                console.error("Failed to get block info:", error);
            });
        }
    }
    //处理区块数据
    function processBlockData(blockInfo){
        var processedData = {
            hash: blockInfo.header.data_hash || '',
            height: blockInfo.header.number || '',
            timestamp: blockInfo.data.data[0].payload.header.channel_header.timestamp || '',
            signature: blockInfo.metadata.metadata[0] || ''
        };
        return processedData;
    }
    //更新UI
    function updateLatestBlockUI(index,blockInfo){
        var blockCards = $('.bc-tx-info-card');
        if(index < blockCards.length){
            var card = blockCards.eq(index);
            card.find('.hash-value').text(blockInfo.hash);
            card.find('.ui.small.blue.label').text('height ' + blockInfo.height);
            card.find('.info-card-row:eq(1)').text('交易时间:' + blockInfo.timestamp);
            card.find('.info-card-row:eq(2)').text('交易HASH:' + blockInfo.hash);
            card.find('.info-card-row:eq(3)').text('签名:' + blockInfo.signature);
        }
    }
    //----------------------------------------------------CTI交易数据----------------------------------------------------------------------------------------------
   
    //----------------------------------------------------轮播table数据---------------------------------------------------------------------------------
    //查询CTI交易数据(最新10条)
    function queryCTITransactionData(){
        return new Promise(function(resolve, reject){
            $.ajax({
                type: "POST",
                url: bc_server_host + "/dataStat/queryCTISummaryInfo",
                contentType: "application/json",
                dataType: "json",
                data: JSON.stringify({
                    "limit": 10
                }),
                success: function(response){
                    if(response.result != null && response.result != undefined){
                        resolve(response.result);
                    }else{
                        reject("CTI transaction data is null");
                    }
                },
                error: function(XMLHttpRequest, textStatus, errorThrown){
                    reject(errorThrown);
                }
            });
        });
    }
    //处理数据
    function processCTIData(ctiTransactionData){
        var formattedData = [];
        if (ctiTransactionData && ctiTransactionData.length > 0) {
            ctiTransactionData.forEach(function(item, index) {
                var row = [
                    item.cti_id,
                    item.tags.join('; '), 
                    '0',
                    item.create_time.split(' ')[0],
                    item.cti_hash.substring(0,8),
                    '<a class="open-cti-detail" data-id="' + index + '" >详情</a>'
                ];
                formattedData.push(row);
            });
        }
        new_upchain_cti_data = formattedData;
    }
    //----------------------------------------------------更新UI--------------------------------------------------------
    var new_upchain_cti_data = [
    ];
    var tableIndexMap = {
        'cti-upchain-table': 0,
    }
    var fixedRowsMap={
        'cti-upchain-table': 8,
    }
    tableBodyDomNameMap = {
        'cti-upchain-table': '.cti-upchain-table tbody',
    }
    //初始化轮播表
    function initializeCarouselTable(tableName,tableData) {
        if(!tableData || tableData.length === 0) {
            return;
        }
        
        var table = $(tableBodyDomNameMap[tableName])
        // 清空表格内容
        table.empty();

        // 计算当前显示的数据范围
        var startIndex = tableIndexMap[tableName];
        var endIndex = Math.min(startIndex + fixedRowsMap[tableName], tableData.length);

        // 添加初始数据
        for (var i = startIndex; i < endIndex; i++) {
            var row = $('<tr>');
            // 循环添加每一列数据
            for (var j = 0; j < tableData[i].length+1; j++) {
                if (j === 0) {
                    row.append('<td>' + i+ '</td>');
                } else {
                    // 其他列直接使用数组中的值
                    row.append('<td>' + tableData[i][j-1] + '</td>');
                }
            }
            table.append(row);
        }
    }
    
    function carouselTableLoop(tableName,tableData) {
        if(!tableData || tableData.length === 0) {
            return;
        }
        
        var table = $(tableBodyDomNameMap[tableName]);
        
        // 检查当前索引是否有效
        if(tableIndexMap[tableName] >= tableData.length) {
            tableIndexMap[tableName] = 0;
        }
        
        // 获取最后一行
        var lastRow = table.find('tr:last');

        // 创建新行
        var newRow = $('<tr>');
        // 添加序号
        newRow.append('<td>' + (tableIndexMap[tableName]) + '</td>'); // 序号
        // 添加其他列数据
        for (var j = 0; j < tableData[tableIndexMap[tableName]].length; j++) {
            newRow.append('<td>' + tableData[tableIndexMap[tableName]][j] + '</td>');
        }
        // 添加新行并淡入
        table.append(newRow);
        //newRow.hide().fadeIn(500); // 淡入新行

        // 获取第一行并淡出
        var firstRow = table.find('tr:first');
        firstRow.remove(); // 移除第一行

        // 更新索引，确保循环
        tableIndexMap[tableName] = (tableIndexMap[tableName] + 1) % tableData.length;
    }
    //------------------------------------------窗口操作----------------------------------------------------------------------------------------------
    var currentLayerIndex = null; //设置只可打开一个窗口
    function openCtiDetailWindow(url) {
        if (currentLayerIndex !== null) {
            layer.close(currentLayerIndex);
        }
        currentLayerIndex = layer.open({
                type: 2,
                title: '详情',
                area: ['700px', '550px'], // 设置窗口宽度和高度
                shade: 0, // 设置遮罩透明度
                content: url,
                success: function(layero, index){
                }
        });
    }
</script>


{{end}}
	
 
