{{define "content"}}
<!---头部banner-->
<div class="cti_index_header" >
    <div class="header_title">
        <div class="header_title_1">B&R威胁情报共享平台</div>
        <div class="header_title_2">打造去中心化、可信、安全的威胁情报共享生态</div>
    </div>
    <div class="header_body">
        <div class="header_body_content"></div>
        <a href="cti-market" class="header_body_a">
            访问平台
        </a>
    </div>
    <div class="header_tab">
        <div class="header_tab_item" onclick="scrollToView('cti_headLine_1')">
           平台介绍
        </div>
        <div class="header_tab_item" onclick="scrollToView('cti_headLine_2')">
            激励机制
         </div>
         <div class="header_tab_item" onclick="scrollToView('cti_headLine_3')">
            规则说明
         </div>
         <div class="header_tab_item" onclick="scrollToView('cti_headLine_4')">
            数据类型
         </div>
    </div>
</div>
<!-- 平台介绍 -->
<div class="cti_intent" id = "1" style="height:680px;" >
    <h2 id="cti_headLine_1" class="cti_headLine cti_mbox" >
        平台介绍
    </h2>
    <div class="cti_mbox cti_intentDet">
        <p class="cti_intentList" style="font-size:16px;line-height:50px;">
       B&R网络安全威胁信息(CTI)共享平台以方便企业及个人用户共享威胁信息为出发点，以建立网络安全纵深防御体系为目标，汇总网络上各渠道收集到的恶意程序、恶意地址、恶意手机号、恶意邮箱等网络安全威胁信息数据，建立公开透明、公平公正的信息评价体系，利于各企业获得想要的数据，激励企业贡献有价值的数据，促进信息共享的发展。
       为了激励各方积极参与情报共享，本平台使用区块链智能合约以及博弈数学模型进行情报积分定价。博弈数学模型用于计算最优情报积分价格，其考虑了情报发布数量、市场需求和服务评价等因素，能够寻找一个既能保证情报质量又能最大化各方收益的价格点。这有助于形成良性循环，推动更多有价值的情报进入共享体系。
        </p>
    </div>
</div>
<!--激励机制-->
<div class="cti-incentive">
    <h2 id="cti_headLine_2" class="cti_headLine cti_mbox" >
        激励机制
    </h2>
    <div class="cti_mbox cti_incentive_box">
            <div class="cti_incentive_box_item">
                <div class="cti_incentive_intro">
                    <div class="cti_incentive_icon">
                        <i class="bitcoin icon"></i>
                    </div>
                    <div class="cti_incentive_title">区块链积分激励</div>
                    <div class="cti_incentive_content">
                        基于区块链智能合约实现积分发放和交易,保证积分流通的公平公正和不可篡改性,为用户提供可信的激励机制。通过区块链技术确保积分交易的透明度和安全性。
                    </div>
                </div>
            </div>
            <div class="cti_incentive_box_item">
                <div class="cti_incentive_intro">
                    <div class="cti_incentive_icon">
                        <i class="delicious icon"></i>
                    </div>
                    <div class="cti_incentive_title">三方博弈激励</div>
                    <div class="cti_incentive_content">
                        针对三方:平台方、需求方、CTI提供方,建立三方博弈模型，采用动态定价机制，最优化CTI价格，在保证CTI质量的同时，使得三方都获得良好收益。通过博弈论实现利益均衡。
                    </div>
                </div>
            </div>
             <div class="cti_incentive_box_item">
                <div class="cti_incentive_intro">
                    <div class="cti_incentive_icon">
                        <i class="joomla icon"></i>
                    </div>
                    <div class="cti_incentive_title">演化博弈激励</div>
                    <div class="cti_incentive_content">
                        通过演化博弈理论建模用户行为,分析系统长期演化趋势,优化激励机制参数,促进系统向良性方向发展。持续调整激励策略以适应市场变化。
                    </div>
                </div>
            </div>
    </div>
</div>
<!-- 规则说明 -->
<div class="cti_explain" id = "5">
    <h2 id="cti_headLine_3" class="cti_headLine cti_mbox" >
        规则说明
    </h2>
   <ul class="cti_explainCon cti_mbox">
        <li class="cti_explainList cti_expfirst">
            <img src="/static/front/imgs/intro/explain1.png">
            <p class="cti_explainDet">本平台为用户提供网络安全威胁信息(CTI)共享服务,用户可凭自愿原则，通过本平台进行数据交换。
            </p>
        </li>
        <li class="cti_explainList cti_expsecond">
            <img src="/static/front/imgs/intro/explain4.png">
            <p class="cti_explainDet">CTI共享平台本着公平的原则，保证按照“积分政策”和“激励机制”规则给共享数据的用户计算积分。
            </p>
        </li>
        <li class="cti_explainList cti_expthird">
            <img src="/static/front/imgs/intro/explain2.png">
            <p class="cti_explainDet">平台方作为公信的第三方，为用户提供网页终端和数据查询的便捷渠道。
            </p>
        </li>
        <li class="cti_explainList cti_expforth">
            <img src="/static/front/imgs/intro/explain5.png">
            <p class="cti_explainDet">从本平台获取的数据不可恶意扩散、不可用作二次交易。用户初始积分为100，通过积分获取的数据允许无限制次下载机会，公开的数据每日允许10次下载机会。
            </p>
        </li>
        <li class="cti_explainList cti_expfifth">
            <img src="/static/front/imgs/intro/explain3.png">
            <p class="cti_explainDet">用户同意“去中心化开放信息协议”后，即可正式使用平台共享情报数据。
            </p>
        </li>
    </ul>
</div>

<!-- 数据类型 -->
<div class="cti_mold">
    <h2 id="cti_headLine_4" class="cti_headLine cti_mbox" >
        数据类型
    </h2>
    <div class="cti_mbox cti_moldSheet">
        <p class="cti_moldTitle">共享数据分为9类，具体类别如下：</p>
        <table class="cti_moldTable" border="1" cellspacing="0" cellpadding="0" bordercolor="#d7d7d7">
            <thead>
                <tr>
                    <th width="199px;">序号</th>
                    <th width="398px;">数据名称</th>
                    <th width="199px;">数据类型</th>
                </tr>
            </thead>
            <tbody>
                <tr class="cti_even">
                    <td>1</td>
                    <td>恶意流量</td>
                    <td>Traffic</td>
                </tr>
               <tr class="cti_odd">
                    <td>2</td>
                    <td>蜜罐情报</td>
                    <td>Honeypot</td>
                </tr>
                <tr class="cti_even">
                    <td>3</td>
                    <td>僵尸网络</td>
                    <td>Botnet</td>
                </tr>
                <tr class="cti_even">
                    <td>4</td>
                    <td>应用层攻击</td>
                    <td>AppAttack</td>
                </tr>
                <tr class="cti_odd">
                    <td>5</td>
                    <td>开源情报</td>
                    <td>Intelligence</td>
                </tr>
                <tr class="cti_odd">
                    <td>6</td>
                    <td>其他</td>
                    <td>Other</td>
                </tr>
                <tr class="cti_even">
                    <td>7</td>
                    <td>5G网络</td>
                    <td>5G</td>
                </tr>
                <tr class="cti_odd">
                    <td>8</td>
                    <td>卫星网络</td>
                    <td>Satellite</td>
                </tr>
                <tr class="cti_even">
                    <td>9</td>
                    <td>SDN网络</td>
                    <td>SDN</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<script>
//自动滑动
function scrollToView(elementId){
    const element = document.getElementById(elementId);
    console.log(elementId);
    element.scrollIntoView({ behavior:'smooth'});
}
</script>

{{end}}
	
 
