{{define "content"}}
<div class="cti-knowledge-plane-box">       
   <div class="cti-knowledge-plane-box-header">
        <div class="plane-box-search">
            <div class="ui fluid action input">
                <input type="text" placeholder="IP、URL、HASH、CVE、 国家">
                <div class="ui primary button">查询</div>
            </div>
        </div>
   </div>
   <div class="cti-knowledge-plane-box-body">
        <div class="plane-box-body-nav">
            <a class="nav-item" href="/knowledge-plane/normal">
                常规攻击(1209)
            </a>
            <a class="nav-item" href="/knowledge-plane/traffic">
                流量攻击(123)
            </a>
        </div>
        {{ block "kp_content" .}}{{end}}
        <div class="plane-box-body-box-2">
            <div class="box-head">
                攻击IOC信息
                <!-- <div class="box-head-toolbar head-toolbar-3">
                    <a class="ui small blue label" data-tab="hour">小时</a>
                    <a class="ui small label" data-tab="day">天</a>
                    <a class="ui small label" data-tab="month">月</a>             
                </div> -->
            </div>
            <div class="box-body ioc-info-table-box">
                <table class="ioc-info-table">
                    <colgroup>
                        <col style="width: 100px;">
                        <col style="width: 100px;">
                        <col style="width: 60px;">
                        <col style="width: 60px;">
                        <col style="width: 100px;">
                        <col style="width: 100px;">
                        <col style="width: 60px;">
                    </colgroup>
                    <thead>
                        <tr>
                            <th>IP地址</th>
                            <th>物理地址</th>
                            <th>攻击类型</th>
                            <th>端口</th>
                            <th>HASH</th>
                            <th>观测时间</th>
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>12.127.8.1</td>
                            <td>越南</td>
                            <td>DDoS</td>
                            <td>7070</td>
                            <td>adbdbca54ab</td>
                            <td>2024-11-15 10:25:06</td>
                            <td>
                                <a class="open-cti-detail" data-id="1">详情</a>
                            </td>
                        </tr>
                        <tr>
                            <td>12.127.8.1</td>
                            <td>越南</td>
                            <td>DDoS</td>
                            <td>7070</td>
                            <td>adbdbca54ab</td>
                            <td>2024-11-15 10:25:06</td>
                            <td>
                                <a class="open-cti-detail" data-id="1">详情</a>
                            </td>
                        </tr>
                        <tr>
                            <td>12.127.8.1</td>
                            <td>越南</td>
                            <td>DDoS</td>
                            <td>7070</td>
                            <td>adbdbca54ab</td>
                            <td>2024-11-15 10:25:06</td>
                            <td>
                                <a class="open-cti-detail" data-id="1">详情</a>
                            </td>
                        </tr>
                        <tr>
                            <td>12.127.8.1</td>
                            <td>越南</td>
                            <td>DDoS</td>
                            <td>7070</td>
                            <td>adbdbca54ab</td>
                            <td>2024-11-15 10:25:06</td>
                            <td>
                                <a class="open-cti-detail" data-id="1">详情</a>
                            </td>
                        </tr>
                        <tr>
                            <td>12.127.8.1</td>
                            <td>越南</td>
                            <td>DDoS</td>
                            <td>7070</td>
                            <td>adbdbca54ab</td>
                            <td>2024-11-15 10:25:06</td>
                            <td>
                                <a class="open-cti-detail" data-id="1">详情</a>
                            </td>
                        </tr>
                        <tr>
                            <td>12.127.8.1</td>
                            <td>越南</td>
                            <td>DDoS</td>
                            <td>7070</td>
                            <td>adbdbca54ab</td>
                            <td>2024-11-15 10:25:06</td>
                            <td>
                                <a class="open-cti-detail" data-id="1">详情</a>
                            </td>
                        </tr>
                        <tr>
                            <td>12.127.8.1</td>
                            <td>越南</td>
                            <td>DDoS</td>
                            <td>7070</td>
                            <td>adbdbca54ab</td>
                            <td>2024-11-15 10:25:06</td>
                            <td>
                                <a class="open-cti-detail" data-id="1">详情</a>
                            </td>
                        </tr>
                        <tr>
                            <td>12.127.8.1</td>
                            <td>越南</td>
                            <td>DDoS</td>
                            <td>7070</td>
                            <td>adbdbca54ab</td>
                            <td>2024-11-15 10:25:06</td>
                            <td>
                                <a class="open-cti-detail" data-id="1">详情</a>
                            </td>
                        </tr>
                        <tr>
                            <td>12.127.8.1</td>
                            <td>越南</td>
                            <td>DDoS</td>
                            <td>7070</td>
                            <td>adbdbca54ab</td>
                            <td>2024-11-15 10:25:06</td>
                            <td>
                                <a class="open-cti-detail" data-id="1">详情</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="ui right floated pagination menu cti-data-table-nav tiny">
                    <a class="icon item">
                        <i class="left chevron icon"></i>
                    </a>
                    <a class="item">1</a>
                    <a class="item">2</a>
                    <a class="item">3</a>
                    <a class="item">4</a>
                    <a class="icon item">
                        <i class="right chevron icon"></i>
                    </a>
                </div>
            </div>
        </div>
   </div>
</div>

<script>
$(document).ready(function() {
    // 为 '详情' 按钮绑定点击事件
    $('.open-cti-detail').click(function() {
        var ctiId = $(this).data('id');
        openCtiDetailWindow('/cti-market/detail?id=' + ctiId);
    });

    //tab激活
    var currentTab = getUrlTailPath()
    if(currentTab){
        $(".nav-item[href='/knowledge-plane/"+currentTab+"']").addClass("nav-item-active")
    }else{
        //激活第一个tab
        $(".nav-item").first().addClass("nav-item-active")
    }
});
var currentLayerIndex = null; //设置只可打开一个窗口
function openCtiDetailWindow(url) {
    if (currentLayerIndex !== null) {
        layer.close(currentLayerIndex);
    }
    currentLayerIndex = layer.open({
            type: 2,
            title: '详情',
            area: ['700px', '550px'], // 设置窗口宽度和高度
            shade: 0, // 设置遮罩透明度
            content: url,
            success: function(layero, index){
            }
    });
}
</script>
{{end}}
	
 
