
/*布局*/
.bc-browser{
    width:100%;
    background-color:  #F9FAFB;;
}
.bc-browser-box{
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 8px 24px;
    cursor: default;
}
.bc-browser-box:hover{

}
.bc-browser-box-title{
    width: 100%;
    padding: 10px 3px;
    background-color: transparent;
    color: black;
    font-size: 15px;
    text-align: left;
}
.bc-browser-container{
    width: 980px;
    margin: 0 auto;
    padding-bottom: 20px;
}
/*区块Summary面板*/
.bc-browser-box-1{
    width: 100%;
    min-height: 80px;
}
.bc-data-summary{
    width:100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.bc-data-summary .summary-item{
    width: 18%;
    cursor: default;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-left: 1%;
}
.summary-item-left{
    height: 70px;
    width: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.summary-item-left i{
    font-size: 25px;
    color: #4183c4;
}
.summary-item-right {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.summary-item-right .summary-item-title{
    width: 100%;
    text-align: left;
    color: #929292;
    padding: 3px 0;
}
.summary-item-right .summary-item-content{
    width: 100%;
    height: 35px;
    text-align: left;
    font-size: 20px;
    font-weight: 800;
}
/*最新交易*/
.bc-browser-box-2{
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    background-color: transparent;
    box-shadow: none;
}
.bc-browser-box-2 .bc-tx-info-card{
    width: 24.5%;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 8px 24px;
    margin-right: 1%;
    height: 160px;
    padding: 10px;
    cursor: pointer;
}
.bc-browser-box-2 .bc-tx-info-card:hover{
    box-shadow: rgba(0, 0, 0, 0.15) 5px 12px 24px;
}
.bc-browser-box-2 .bc-tx-info-card:last-child{
    margin-right: 0;
}
.bc-tx-info-card .info-card-title{
    width: 100%;
    font-size: 18px;
    height: 30px;
    color: #096a8e;
    font-weight: 800;
}

.bc-tx-info-card .info-card-row.tags{
    padding-bottom: 5px;
}
.bc-tx-info-card .info-card-row{
    width: 100%;
    margin-top: 5px;
    color: rgb(86, 82, 82);
    font-size: 13px;
}



/*上链情报*/
.bc-browser-box-3{
    width: 100%;
    min-height: 300px;
    position: relative;
    padding: 15px;
    padding-top: 60px;
}
/*查询Tab*/
.table-toolbar{
    height: 40px;
    position: absolute;
    top: 10px;
    right: 15px;    
    color: black;
    font-size: 14px;
    font-weight: 500;
}
.table-toolbar-search{
    width: 100%;
    height: 38px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border: 1px solid gainsboro;
}
.table-toolbar-search input{
    width: 150px;
    border-right: 1px solid gainsboro;
}

.table-toolbar-search .table-toolbar-search-btn{
    height: 38px;
    padding: 0 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    
    
}
/*CTI上链表格*/
.cti-upchain-table-box{
    width: 100%;
    min-height: 300px;
    margin-bottom: 20px;
}

.cti-upchain-table-box .cti-upchain-table {
    width: 100%;
    overflow: hidden;
    border: 1px solid gainsboro; 
    cursor:default;
}


.cti-upchain-table  th{
    padding: 5px;
    border: 1px solid gainsboro; 
    text-align: center;
    background-color: #117396;
    color: white;
}
.cti-upchain-table  td {
    padding: 5px;
    border: 1px solid gainsboro; 
    text-align: center;
}

.cti-upchain-table  th {
    font-weight: bold;
}

.cti-upchain-table  tr {
    overflow: hidden; /* 防止内容溢出 */
}

.cti-upchain-table  tr:nth-child(even) {
    background-color: #f7f8fa; 
}

.cti-upchain-table  tr:nth-child(odd) {
    background-color: #ffffff; 
}
.cti-upchain-table  a{
    color: #64aed9;
    text-align: center;
}

/*表格动态数据*/
.cti-upchain-table {
    width: 100%;
    position: relative;
    border-collapse: collapse;
    table-layout: fixed; /* 固定表格布局 */
}

.cti-upchain-table thead {
    position: sticky;
    top: 0;
    background-color: white; /* 保持背景色一致 */
    z-index: 1; /* 确保表头始终在最前面 */
}
.cti-upchain-table thead tr{
    width: 100%;
}

.cti-upchain-table tbody {
    height: 100px; /* 设置最大高度 */
    overflow-y: scroll; /* 滚动条只出现在tbody部分 */
}

.cti-upchain-table th,
.cti-upchain-table td {
    border: 1px solid #ddd;
    overflow: hidden; /* 隐藏超出部分 */
    text-overflow: ellipsis; /* 显示省略号 */
}

/* 保持表头和表格单元格的高度一致 */
.cti-upchain-table thead th {
    padding: 5px 10px;
}
.open-cti-detail{
    cursor: pointer;
}